<ion-view cache-view="false" ng-controller="WebmappController as vm">
    <ion-nav-title>
        <span>
            Webmapp
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content ng-style="{
        'background': vm.colors.global.background
    }">
        <div class="static-content card-content" style="text-align: left">
            <div class="webmapp-img">
                <img src="core/images/logo-webmapp.png" />
            </div>
            <div class="webmapp-paragraph">
                <a href="" ng-click="vm.openInAppBrowser('http://www.webmapp.it/')">Webmapp</a>
                {{"realizza servizi cartografici web, app mobile, e cartografia stampata per il Turismo Natura & Avventura." | translate}}
            </div>
            <div class="webmapp-paragraph">
                {{"Per maggiori informazioni visitate il nostro sito web" | translate}} <a href=""
                    ng-click="vm.openInAppBrowser('http://www.webmapp.it/')">webmapp.it</a>
                {{"o scriveteci all'indirizzo" | translate}}
                <a href="mailto:info@webmapp.it?Subject=MuEasyRoute%20App%20info">info@webmapp.it</a>
            </div>
        </div>
    </ion-content>
</ion-view>