<ion-view class="chianti-home-page" cache-view="false" ng-controller="ChiantiHomeController as vm">
    <img src="core/images/chianti_home_page.jpg" />
    <div class="chianti-home-content">
        <div class="language-selector" ng-click="vm.chooseLang('it')">
            BENVENUTI
            <div class="language-text">
                ITALIANO
            </div>
        </div>
        <div class="language-selector" ng-click="vm.chooseLang('en')">
            WELCOME
            <div class="language-text">
                ENGLISH
            </div>
        </div>
    </div>
</ion-view>