<ion-view 
    cache-view="false" 
    ng-controller="AttributionController as vm">
    <ion-nav-title>
        <span>
            {{vm.title}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon"
            menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black; background: white">
        <div 
            class="static-content card-content" 
            style="text-align: left">
            Tante cose benne su openstreetmap e altro
        </div>
    </ion-content>
</ion-view>

