<ion-view class="trackTaxonomy-page" cache-view="false" ng-controller="TrackTaxonomyController as vm">
    <ion-nav-title>
        <span id="pageTitle" ng-if="vm.title">
            {{vm.title | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon wm-icon-ios7-arrow-thin-left" ng-click="vm.goBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="taxonomy-filter">
            <div class="pf-taxonomy-filter__select">
                <select id="filter-selection" ng-model="vm.selectedFilter" ng-change="vm.updateCounts()">
                    <option value="-1" selected>----</option>
                    <option ng-repeat="item in vm.filter" value="{{item.id}}"><i class="icon {{item.icon}}"></i>{{item.name}}</option>
                </select>
            </div>
        </div>

        <div class="taxonomy" ng-repeat="item in vm.taxonomy" ng-click="vm.goToFilteredTracks(item.id)">
            <div class="taxonomy-title">
                <span ng-if="item.name[vm.currentLang]">{{item.name[vm.currentLang]}}</span>
                <span ng-if="!item.name[vm.currentLang] && item.name[vm.defaultLang]">{{item.name[vm.defaultLang]}}</span>
                <span ng-if="!item.name[vm.currentLang] && !item.name[vm.defaultLang]">{{item.name[Object.keys(item.name)[0]]}}</span>
            </div>
            <div class="taxonomy-button" ng-style="{
                'background': item.color
            }">
                <i class="icon {{item.icon}}" ng-if="item.icon"></i>
                {{item.filteredCount}}
                <i class="icon wm-icon-ios7-arrow-forward"></i>
            </div>
        </div>
        <div class="taxonomy-footer">
            <div class="footer-button pf-footer-button-card" ng-click="vm.goTo('card')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Card" | translate}}
            </div>
            <div class="footer-button" ng-click="vm.goTo('/')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Mappa" | translate}}
            </div>
            <div class="footer-button" ng-click="vm.goTo('search')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Cerca" | translate}}
            </div>
        </div>
    </ion-content>
</ion-view>