<ion-view class="trackTaxonomy-page" cache-view="true" ng-controller="TrackTaxonomyController as vm">
    <ion-nav-title>
        <span class="title-inner">
            <span id="pageTitle" class="title-right" ng-if="vm.title">
                {{"Scegli il percorso che fa per te" | translate}}
            </span>
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon wm-icon-ios7-arrow-thin-left" ng-click="vm.goBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="taxonomy-filter">
            <div ng-if="!vm.filters || !vm.filters.length || !vm.filters.length > 0" class="pf-taxonomy-filter__spinner">
                <ion-spinner></ion-spinner>
            </div>
            <div class="pf-taxonomy-filter__select" ng-repeat="item in vm.filters" ng-click="vm.selectFilter(item)" ng-class="{
                    'pf-taxonomy-filter__selected': vm.selectedFilter && vm.selectedFilter.id === item.id
                }">
                <i ng-if="item.icon" class="icon {{item.icon}}"></i>
                <span ng-if="!item.icon">
                    {{item.name}}
                </span>
            </div>
        </div>

        <div class="taxonomy" ng-repeat="item in vm.taxonomy" ng-click="vm.goToFilteredTracks(item.id)">
            <div class="taxonomy-title" ng-class="{
                    'disabled-title': item.filteredCount === 0
                }">
                <span ng-if="item.name[vm.currentLang]" ng-bind-html="item.name[vm.currentLang]"></span>
                <span ng-if="!item.name[vm.currentLang] && item.name[vm.defaultLang]" ng-bind-html="item.name[vm.defaultLang]"></span>
                <span ng-if="!item.name[vm.currentLang] && !item.name[vm.defaultLang]" ng-bind-html="item.name[Object.keys(item.name)[0]]"></span>
            </div>
            <div class="taxonomy-button" ng-style="{
                'background': item.color
            }">
                <i class="icon {{item.icon}}" ng-if="item.icon"></i>
                <div class="taxonomy-button__count">
                    {{item.filteredCount}}
                    <i class="icon wm-icon-ios7-arrow-forward"></i>
                </div>

            </div>
        </div>
        <div class="taxonomy-footer">
            <div class="footer-button pf-footer-button-card" ng-click="vm.goTo('card')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Card" | translate}}
            </div>
            <div class="footer-button" ng-click="vm.goTo('/')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Mappa" | translate}}
            </div>
            <div class="footer-button" ng-click="vm.goTo('search')">
                <i clacc="icon wm-icon-android-user-menu"></i>
                {{"Cerca" | translate}}
            </div>
        </div>
    </ion-content>
</ion-view>