<ion-view 
    ng-controller="CardController as vm" 
    cache-view="false" 
    class="card-page">
    <ion-nav-title class="card-page-header">
        <span>
           {{vm.title | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon"
            menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card-content" ng-if="!vm.isLoggedIn">
            <button
                ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }"
                class="login-button button button-block"
                ng-if="!vm.isLoggedIn"
                ng-click="vm.login()">
                {{"LOGIN" | translate}}
                <i class="wm-icon-android-arrow-forward"></i>
            </button>
        </div>
        <div class="card-content" ng-if="vm.isLoggedIn">
            <div class="pf-user-image">
                <img ng-src="{{vm.userData.image}}" alt="User image">
            </div>

            <div class="pf-user-name">
                {{vm.userData.first_name}} {{vm.userData.last_name}}
            </div>

            <div class="pf-card-code">
                {{vm.userData.voucher}}
            </div>

            <div class="pf-settings-button" id="settings-button" ng-click="vm.goTo('languages')">
                <i class="icon wm-icon-android-settings"></i>
            </div>

            <div class="pf-card-label">
                {{"Card" | translate}}
            </div>
           <!-- <button
                ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }"
                class="login-button button button-block"
                ng-if="vm.isLoggedIn"
                ng-click="vm.logout()">
                {{"LOGOUT" | translate}}
                <i class="wm-icon-android-arrow-forward"></i>
            </button>-->
        </div>
        <div class="pf-card-footer" id="card-footer">
            <img src="core/images/logo-pf.png">
        </div>
    </ion-content>
</ion-view>