/**
 * FORMS
 *
 * Style for forms elements
 */

/* ------------------------------------ *\
   #GENERAL
\* ------------------------------------ */

.checkbox-container {
  display: inline-block;
  width: 25%;
  .item-checkbox {
    height: 36px;
    padding: 36px 0 0 0;
    .checkbox {
      margin-top: -17px;
      right: 0;
      left: 0;
    }
  }
}

.input-ph {
  @include placeholder {
    color: transparentize($color-dark-blue, 0.4);
  }
}

/* Filters checkboxes */

.modal-filters {
  .checkbox {
    margin-top: -18px;
    padding: 7px 0;
    right: 0;
    left: 0;
    input {
      &:checked {
        &:before,
        &+.checkbox-icon:before {
          background: #BF410E;
          border-color: #BF410E;
          border-radius: 50%;
        }
      }
    }
    input,
    .checkbox-icon {
      width: 16px;
      height: 16px;
      &:after {
        width: 8px;
        height: 4px;
        border-width: 2px;
      }
    }
  }
}

.checkbox-icon {
  .modal-filters & {
    display: none;
  }
  .modal-filters .is-selected & {
    display: inline-block;
  }
}

.item-checkbox {
  .modal-filters & {
    padding-left: 0;
  }
  .modal-filters &.is-selected,
  .modal-filters &.is-not-selected {
    padding-left: 25px;
  }
}

div.popup {
  .popup-head {
    h3 {
      font-size: 1.7em!important;
    }

    h5.popup-sub-title {
      font-size: 1.2em;
    }
  }
  .popup-body {
    input {
      padding: 3px 15px;
      font-size: 1.2em;
    }
    span {
      font-size: 1.2em;
    }
  }
}

/* Gallery slider */
ion-slide.slider-slide {
  height: 100vh;
  div {
    height: 100%;
    ion-scroll.scroll-view.scroll-xy {
      height: 100%;
      div.scroll {
        img {
          position: absolute;
          top: -9999px;
          right: -9999px;
          bottom: -9999px;
          left: -9999px;
          margin: auto;
        }
      }
    }
  }
}

.pf-radio-button {
  padding: 10px 0;

  input[type="radio"] {
    display: none;
  }

  label {
    font-size: 20px;
    font-weight: $font-weight-bold;
    font-family: $title-font-family;

    i {
      margin-right: 5px;
    }
  }
}

.pf-item-select {
  display: block;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}


/* Popup */

.popup-container {
  .popup {
    .popup-title {
      color: $color-text;
    }
  }

  button.button-positive {
    background: $color-light-blue;
  }

  .popup-body {
    color: $color-text;
  }
}
