/*
 * TYPOGRAPHY
 *
 * Definition of typographic styles
 */


/* ------------------------------------ *\
   #FONTS
\* ------------------------------------ */



@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



// /* merriweather */


@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-black-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}



@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-light-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'merriweather';
  src: url('../fonts/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
  url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* ------------------------------------ *\
   #HEADINGS
\* ------------------------------------ */

// h1, h2, h3, h4, h5, h6 {
//     // margin: $margin-s-b;
//     font-weight: $font-weight-bold;
//     font-family: $font-family-headings;
//     margin: 0;
//     padding: 0;
// }

// h1 {
//     font-size: 2rem;
//     line-height: 1.2;
//     margin-bottom: .3em;
// }

// h2 {
//     font-size: 1.7rem;
//     line-height: 1;
//     margin-bottom: .3em;
// }

// h3 {
//     font-size: 1.4rem;
//     line-height: 1;
//     margin-bottom: .3em;
// }

// h4 {
//     font-size: 1.2rem;
//     line-height: 0.8;
//     margin-bottom: .3em;
// }

// h5 {
//     font-size: 1.1rem;
//     line-height: 1.2;
//     margin-bottom: .3em;
// }

// p {
//     margin: 0 0 .3em 0;
//     padding: 0;
//     color: $color-text;
//     font-size: $font-size-m;
//     font-weight: $font-weight-normal;
//     line-height: 1.6;
// }

/* ------------------------------------ *\
   #LINKS
\* ------------------------------------ */

// a {
//     color: $color-text-link;
//     text-decoration: none;

//     h1, h2, h3, h4, h5, h6 {
//         color: inherit;
//     }
// }



/*
!* For fluid typography: setting a minimum font size for smaller screens *!

@media screen and (min-width: 50em) { !* 800px *!
  html {
    font-size: 2vw;
  }
}

!* For fluid typography: avoid jump between fluid and fixed font-size breakpoint *!

@media screen and (min-width: 75em) { !* 1200px *!
  html {
    font-size: 1.5em;
  }
}*/

/*
 *    Available fonts
 */



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $color-text;
}