<ion-view 
    ng-controller="CouponController as vm"
    cache-view="false" 
    class="events-view">
    <ion-nav-title>
        <span>
            {{"Offerte" | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon" 
            menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div 
            class="modal-inner-content modal-two-columns coupons-list" 
            ng-click="vm.openCoupon(item)"
            ng-repeat="item in vm.coupons">
            <div 
                class="modal-content-title"
                ng-if="vm.featureMapById[item.pois[0]]">
                {{vm.featureMapById[item.pois[0]].properties.name}}
            </div>
            <div class="modal-content-title">
                {{item.title}}
            </div>
            <div class="modal-column-left modal-image-container">
                <img class="modal-image" ng-src="{{item.field_image}}">
            </div>
            <div class="modal-column-right">
                <p ng-bind-html="item.body"></p>
            </div>
        </div>
    </ion-content>
</ion-view>
