/*
 * ATTRIBUTION PAGE
 *
 * Styles for attribution page
 */

/* ------------------------------------ *\
   #ATTRIBUTION
\* ------------------------------------ */

ion-content {
  div.static-content.card-content {
    color: $color-brown;
    div.attribution-title {
      font-size: calc(1.5em + 2px);
      padding: 20px 0 10px 0;
    }
    div.attribution-text {
      font-size: calc(1.2em + 2px);
      padding: 0 10px;
    }
  }
}
