/*
 * CARD PAGE
 *
 * Styles for Valle dei segni card
 */


/* ------------------------------------ *\
   #CARD
\* ------------------------------------ */

.card-page {
  background: $color-login-bg;
}

.card-page-title {
  .nav-title-slide-ios7 .bar.bar-header .title {
    right: 0 !important;
    left: 0 !important;
    text-overflow: clip;
    text-align: center;
  }
}

/* Header */
.card-page-header {
  // background: $color-white;
  background-size: 48px 41px;
  color: $color-brown;
  font-weight: 700;
  padding: 12px;
  font-size: calc(1.1em + 2px);
  text-align: center;

  .icon {
    padding-right: 5px;
    color: $color-red-heart;
  }
}

/* Card content */

.card-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Card image */

.card-image {
  width: 187px;
  height: 140px;
  margin: 10px auto;
}

.card-text {
  margin: 15px 0;
  text-align: center;

  p {
    color: $color-brown;
    font-size: 16px;
    line-height: 1;
  }
}

.card-text-title {
  margin-bottom: 5px;
  color: $color-dark-red;
  font-size: 20px;
}

.card-title {
  margin: 10px auto;
  position: relative;
  text-align: center;

  // &:before {
  //   content: '';
  //   display: block;
  //   height: 1px;
  //   background: $color-light-02;
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   left: 0;
  //   z-index: 2;
  // }
}

.card-title-inner {
  display: inline-block;
  padding: 10px;
  // background: $color-login-bg;
  position: relative;
  font-size: 18px;
  z-index: 10;
}

/* ------------------------------------ *\
   #MEDIA QUERIES
\* ------------------------------------ */

@media screen and (max-height: 480px) {
  .card-image {
    width: 146px;
    height: 109px;
  }
}

@media screen and (min-width: 768px) {
  .card-content {
    width: 428px;
    button.button-block {
      width: 336px;
      margin: 0 auto 10px;
    }
  }

  .card-image {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .card-text {
    margin: 30px 0;

    p {
      font-size: 18px;
    }
  }

  .card-text-title {
    margin-bottom: 5px;
  }
}
