/**
 * HOME PAGE
 *
 * Style for Home page
 */

/* ------------------------------------ *\
   #GENERAL
\* ------------------------------------ */
ion-content {
  div.home-title {
    padding: 4vh;
    font-size: 25px;
    text-align: center;
  }

  div.home-content {
    width: 100%;
    height: calc(100vh - 44px - 25px - 8vh);
    position: relative;
    div.width-1 {
      width: 100%;
    }
    div.width-2 {
      width: 50%;
      float: left;
    }
    div.width-3 {
      width: calc(100% / 3);
      float: left;
    }
    div.height-1 {
      height: 100%;
    }
    div.height-2 {
      height: 50%;
    }
    div.height-3 {
      height: calc(100% / 3);
    }
    div.height-4 {
      height: 25%;
    }
  
    div.home-button {
      position: relative;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      color: rgb(99, 98, 93);
      div.home-icon {
        padding: 3% 0 3% 0;
        .icon:before {
          font-size: 40px;
        }
      }
    }
  
    div.home-button.height-1 {
      div.home-icon {
        .icon:before {
          font-size: 80px;
        }
      }
    }
    div.home-button.height-2 {
      div.home-icon {
        .icon:before {
          font-size: 70px;
        }
      }
    }
    div.home-button.height-3 {
      div.home-icon {
        .icon:before {
          font-size: 60px;
        }
      }
    }

    div.home-button-content {
      position: relative;
      top: calc(50% - 75px);
    }

    div.home-button:active {
      color: rgb(68, 64, 64);
      background: #dddddd;
    }
  }
}