/**
 * HOME PAGE
 *
 * Style for Home page
 */

/* ------------------------------------ *\
   #TOOLBAR
\* ------------------------------------ */
// .home-page {
//   ion-nav-title {
//     font-size: 17px;
//   }
// }
/* ------------------------------------ *\
   #GENERAL
\* ------------------------------------ */
ion-content {
  .home-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    color: rgb(99, 98, 93);
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    overflow: hidden;
    height: calc(100vh - 325px);
    max-height: 50%;
    background-image: url("/core/images/img-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .searchbar {
      width: 80%;
      margin: 35px auto 0;
      max-width: 500px;
      position: relative;
      input {
        border: 0px solid #aaaaaa;
        width: 100%;
        padding: 20px 35px 20px 15px;
        border-radius: 20px;
        font-size: 18px;
        line-height: 20px;
        &::placeholder {
          font-size: 14px;
          color: #777;
        }
      }
      i {
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        font-size: 20px;
      }
    }
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
      bottom: -9999px;
      right: -9999px;
      margin: auto;
      max-width: 40%;
    }
  }
  .home-content {
    z-index: 5;
    width: 100%;
    padding: 50vh 10% 35px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "c c";
    .home-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .home-icon {
        font-size: 60px;
        padding: 10px;
      }
      .home-name {
        font-family: $title-font-family;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        height: 36px;
        font-weight: bold;
      }
      &:nth-child(1) {
        grid-area: a;
      }
      &:nth-child(2) {
        grid-area: b;
      }
      &:nth-child(3) {
        grid-area: c;
      }
    }
  }
}
