div#radio {
  border-bottom: 1px solid #cecec1;
  padding: 5px;
  margin-bottom: 15px;
  label.item.item-radio {
    border: 0px;
    padding: 3px;
  }
}

div#app-description {
  padding: 5px;
  font-size: 22px;
  color: #918f75;
}