div#settingsContent {
  width: 100%;
  padding: 20px 5px 5px 5px;

  div#radio {
    width: fit-content;
    margin: 0 auto;
    label {
      display: block;
    }
  }
  
  h3 {
    font-size: 1.5em!important;
    text-align: center;
  }
  
  p#warning {
    color: #EFB700;
    text-align: center;
  }
  
  img {
    padding: 10px;
    margin: 0 auto;
    height: 3em;
    vertical-align: middle;
  }
}