/**
 * LISTS
 *
 * Style for lists
 */

/* ------------------------------------ *\
   #GENERAL
\* ------------------------------------ */

/* Element */

.item.item-image-left {
  padding: 10px;
  padding-left: 30%;
}

.coupons-list {
  padding: 10px !important;
  cursor: pointer;
}

.round-list {
  div.list {
    padding-left: 8px;
  }
}

.list {
  .item {
    color: inherit;

    &.item-content-preview {
      height: 54px;
      .icon {
        opacity: 0.5;
        font-size: 25px;
      }

      .item-content-placeholder {
        display: inline-block;
        width: 90%;
        height: 15px;
        opacity: 0.5;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a6e23+0,7db9e8+100&1+0,0+100 */
        background: -moz-linear-gradient(
          left,
          rgba(74, 110, 35, 1) 0%,
          rgba(125, 185, 232, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          left,
          rgba(74, 110, 35, 1) 0%,
          rgba(125, 185, 232, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to right,
          rgba(74, 110, 35, 1) 0%,
          rgba(125, 185, 232, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a6e23', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
      }

      &.activated {
        //border-color: darken($color-light-green, 5%);
        background: $color-light-green;
      }
    }

    &.has-subtitle {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .list-item {
    padding: 10px 28px 0 10px;
    border: none;
    overflow: visible;
    &.is-divider {
      padding: 20px 20px 0;
    }
    .list-item-container {
      display: flex;
      height: 93px;
      border: 1px solid #cccccc;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 2px 7px -3px #aaaaaa;
      .list-item-image-container {
        width: 25%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        i {
          font-size: 35px;
        }
      }

      .list-item-content-container {
        width: 75%;
        display: inline-block;
        padding: 17px 10px;
        .list-item-info-title {
          font-size: 20px;
        }
        .list-item-info-subtitle {
          font-size: 16px;
        }
        .list-item-info-title,
        .list-item-info-subtitle {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
          line-height: 1.1em;
        }
      }
    }
  }

  .list-item-expanded {
    padding: 10px 30px 0;
    border: none;
    overflow: visible;
    .list-item-expanded-container {
      height: 225px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 2px 7px -3px #aaaaaa;
      .list-item-expanded-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 138px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        i {
          font-size: 100px;
        }
      }

      .list-item-expanded-content-container {
        height: 87px;
        display: block;
        padding: 17px 10px;
        .list-item-expanded-info-title {
          font-size: 20px;
          font-family: $main-font-family;
        }
        .list-item-expanded-info-subtitle {
          font-size: 14px;
          font-style: italic;
          font-weight: bold;
        }
        .list-item-expanded-info-title,
        .list-item-expanded-info-subtitle {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
          line-height: 1.1em;
        }
      }
    }
  }

  .advanced-menu-content &,
  .modal-filters & {
    .item {
      &.activated {
        border-color: transparent;
        background: transparent;
      }
    }
  }

  &.welcome-list {
    .item {
      &.activated {
        background: transparent;
      }
    }
  }

  .modal-filter & {
    .item {
      &.activated {
        background: transparent;
      }
    }
  }
}

/* Divider element */

.is-divider {
  padding-left: 16px; /* Just remove item-icon-left class from element if not necessary */
  // border-color: darken($color-light-green, 5%);
  // background: darken($color-light-green, 5%);
  text-transform: uppercase;
  font-weight: $font-weight-bold;

  &[ng-click]:hover {
    cursor: text;
  }
}

/* Events list */

.events-view {
  .item {
    color: $color-dark-red;
  }
}

.list-event-date,
.list-event-infos,
.list-infos {
  display: inline-block;
  [class^="list-event"],
  [class^="list-info"] {
    display: block;
  }
}

.list-info-title,
.list-info-subtitle {
  display: block;
}

.list-event-date {
  padding-right: 18px;
  vertical-align: top;
  font-size: 20px;
}

.list-infos {
  width: 100%;

  &.list-event-infos {
    width: 80%;
  }
}

.list-event-start-date {
  padding-bottom: 5px;
}

.list-info-title {
  padding-bottom: 8px;
  font-size: 19px;
  // @include text-ellipsis;
  padding-top: 5px;
}

.list-info-image {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: calc(30% - 10px);
  height: calc(100% - 10px);
  margin: 5px;

  img {
    @include center-image;
    max-height: 30vw;
  }
  i {
    font-size: 40px;
    @include vertical-centering;
    left: 29%;
  }
}

.list-info-subtitle {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  @include text-ellipsis;
}

.list-item {
  height: 100px;
}

/* List filter*/

.filter-input-wrapper {
  position: relative;

  .icon {
    display: inline-block;
    width: 45px;
    height: 40px;
    position: absolute;
    line-height: 45px;
    top: 0;
    right: 0;

    &::before {
      font-size: 25px;
      color: $color-light-02;
    }
  }
}

.filter-input[type="search"] {
  width: 100%;
  height: 45px;
  padding: 0 10px;
}

.filter-input {
  @include placeholder {
    font-style: italic;
    // font-family: $main-font-family;
    font-size: 18px;
  }
}

/* Show more list elements */
.arrow-show-more {
  height: 35px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  color: $color-brown;
  @include box-shadow(0 -4px 14px -4px rgba(18, 16, 11, 0.5));

  .icon {
    &::before {
      font-size: 35px;
    }
  }
}

/* ------------------------------------ *\
   #MEDIA QUERIES
\* ------------------------------------ */

@media only screen and (min-width: 1025px) {
  .arrow-show-more {
    display: none;
  }
}
