/*
 * MAP
 *
 * Styles for map element and components
 */

/* ------------------------------------ *\
   #MAP
\* ------------------------------------ */

#map {
  height: 100%;
  width: 100%;
  background-color: white;
  
  img.leaflet-tile.leaflet-tile-loaded[src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="] {
    visibility: hidden;
  }
}

.map-center {
    pointer-events: none;
}

.locate-custom-control {
  position: absolute;
  bottom: 100px;
  right: 15px;
  .leaflet-control-locate a span.blu-icon, .leaflet-control-locate a:hover span.blu-icon {
    // color: #689DF6;
    color: #87f1ff;
  }
  a {
    cursor: pointer;
  }
}

.report-control {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 800;
  width: 45px;
  height: 45px;
  background-color: rgba($color-brown, 0.7);
  // background-color: rgba(200, 20, 20, 0.6);
  border: none;
  border-radius: 50%;
  
  a {
    i::before {
      font-size: 27px;
      position: absolute;
      top: 7px;
      left: 11px;
      color: #fff;
    }
  }
}

.report-control:active {
  // background-color: rgba(96, 88, 70, 1);
  background-color: rgba($color-brown, 1);
  a {
    i::before {
      color: #cccccc;
    }
  }
}

/* ------------------------------------ *\
   #MAP ICONS
\* ------------------------------------ */

/* MarkersCluster style */

.marker-cluster {
  border: 3px solid transparentize($color-box-shadow,0.4);
  border-radius: 50%;
  background: transparent;
  @include box-sizing(border-box);
  div {
    margin-left:0;
    margin-top: 0;
    border-radius: 50%;
    // font-family: $main-font-family;
    font-size: 20px;
    color: $color-white !important;
  }

}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  div {
    background-color: transparentize($color-brown,0.2) !important;
  }

}

.marker-cluster-small {
  width: 40px !important;
  height: 40px !important;
  div {
    width: 34px !important;
    height: 34px !important;
    line-height: 32px !important;
  }
}

.marker-cluster-medium {
  width: 55px !important;
  height: 55px !important;
  div {
    width: 49px !important;
    height: 49px !important;
    line-height: 47px !important;
  }
}

.marker-cluster-large {

  width: 65px !important;
  height: 65px !important;
  div {
    width: 59px !important;
    height: 59px !important;
    line-height: 57px !important;
  }
}

.leaflet-clickable {
  cursor: pointer;
}

.force-hide {
  display: none !important;
}

.advanced-layout {
  a.leaflet-control-layers-toggle {
    display: none;
  }
}

/* Vector markers */
.leaflet-map-pane {
  .vector-marker {
    margin-left: -18px!important;
    margin-top: -43px!important;
    svg {
      //width: 50px !important;
      //height: 70px !important;
    }

    &.vector-marker-shadow {
      &::before {
        right: 40px;
        bottom: -14px;
      }
    }

    path {
      stroke: $color-white;
      stroke-width: 2px;
      // fill: $color-orange;
    }

    .wm.icon {
      //width: 50px !important;
    }
  }

}

/* Marker icons */

.wm.icon {
  z-index: 10000000000;
  //font-size: 25px;
  text-align: center;
}

/* Map center element */

.icon.map-center {
  margin-top: -24px;
  margin-left: -12px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 401;
  font-size: 48px;
  color: transparentize($color-brown, 0.3);

  .map-page & {
    //display: none;
  }
}

/* ------------------------------------ *\
   #MAP BUTTONS
\* ------------------------------------ */

.leaflet-bar {
  @include box-shadow(none !important);
  border-radius: 0 !important;
  border: none!important;
  a {
    &,
    &:hover {
      display: block;
      width: 45px !important;
      height: 45px !important;
      margin-bottom: 9px;
      background-color: transparentize($color-brown,0.3);
      border: none!important;
      border-bottom: none!important;
      border-radius: 50%;
      line-height: 43px!important;
      text-align: center!important;
      text-decoration: none;
      color: transparentize($color-brown,0.3);
      vertical-align: middle!important;
      outline: none !important;
      @include box-shadow(none !important);

      &:first-child,
      &:last-child {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.leaflet-disabled {
      background: $color-blue-grey;
      color: transparent;
      opacity: 0.5;
    }


    &:hover,
    &:focus {
      background-color: $color-brown;

      &::before {
        color: $color-white;
      }
    }
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    //display: table;
    font-family: 'webmapp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    position: relative;
    color: transparent;

    &::after {
      display: inline-block;
      content: '';
      height: 100%;
      vertical-align: middle;
    }

    &::before {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin-top: -22px;
      margin-left: -23px;
      font-size: 27px;
      //margin-left: -1px;
      border-radius: 50%;
      color: $color-white;
      vertical-align: middle;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .leaflet-control-zoom-out {
    &::before {
      content: "\f208";
    }
  }

  .leaflet-control-zoom-in {
    &::before {
      content: "\f217";
    }
  }
}

.leaflet-bottom {
  .leaflet-control {
    margin-bottom: 20px;
  }
}

div.leaflet-top.leaflet-right {
  right: 15px;
  top: 50%;
  
  div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    right: 0;
    top: 0;
    margin-top: -55px;
    margin-right: 0;
    a.leaflet-control-zoom-in {
      margin-bottom: 20px;
    }
  }
}

.leaflet-top {
  .leaflet-control-locate {
    display:none !important;
  }
}


.leaflet-shadow-pane {
  z-index: 0!important;
}

.leaflet-control-locate {
  a,
  a:hover {
    margin: 0;
    padding: 0!important;

    span {
      display: inline-block;
      width: 45px;
      height: 45px;
      font-family: 'webmapp' !important;
      speak: none;
      border-radius: 50%;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 45px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $color-white;
      
      &::before {
        display: none;
      }

      &.wm-icon-mappalo::after {
        content: "\e911";
        display: inline-block;
        width: 45px;
        height: 45px;
        font-size: 27px;
      }
      &.wm-icon-android-locate-full::after {
        content: "\e920";
        display: inline-block;
        width: 45px;
        height: 45px;
        font-size: 27px;
      }
      &.wm-icon-android-locate::after {
        content: "\e921";
        display: inline-block;
        width: 45px;
        height: 45px;
        font-size: 27px;
      }

      &.fa-spinner {
        font-family: 'webmapp' !important;

        &::after {
        }
      }
    }
  }
}

/* Scale control */

.leaflet-control-scale-line {
  background: transparent;
  border: 0;
  border-bottom: 2px solid $color-brown;
  color: $color-brown;
  font-size: 15px;
}

.leaflet-top.leaflet-left {
  .show-start-navigation & {
    bottom: 20px;
    right: 10px;
    left: auto;
    top: auto;
  }
}

/* Coordinates block */

@keyframes animaterightin {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 37px;
    opacity: 1;
  }
}

@keyframes animaterightout {
  from {
    right: 37px;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}

.animate-rightin {
  position: absolute;
  animation: animaterightin 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animate-rightout {
  position: absolute;
  animation: animaterightout 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.coords-expander {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 24px;
  right: 0;
  background: transparentize($color-brown, .2);
  z-index: 800;
  font-size: 26px;
  padding: 4px 0;
  text-align: center;
  a {
    color: #fff;
  }
}

.coords-block {
  margin: 0 auto;
  position: absolute;
  right: 37px;
  bottom: 24px;
  z-index: 400;
  font-size: 20px;
  text-align: center;
  span {
    display: inline-block;
    height: 36px;
    padding: 0 14px;
    padding-bottom: 7px;
    background: transparentize($color-brown, .2);
    line-height: 36px;
  }

  .coords-share-button {
    width: 32px;
    min-height: 20px;
    margin-right: -12px;
    padding: 0;
    background: transparent;
    border: none;
    color: inherit;
  }

  .icon {
    vertical-align: middle;
  }
}

.start-navigation {
  height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparentize($color-brown, .2);
  z-index: 800;
  font-size: 26px;
  padding: 8px 18px 8px 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
  a {
    color: #fff;
  }

  .show-start-navigation & {
    display: block;
  }
}

.leaflet-bar,
.coords-block,
.coords-expander,
.report-control {
  display: none;

  .map-page &,
  .map-search & {
    display: block;
  }
}

.leaflet-control-attribution {
  display: none;
}

/* Navigation interface */
.coords-block,
.coords-expander {
  .navigation-interface & {
    bottom: 99px;
  }
}

.locate-custom-control {
  .navigation-interface & {
    bottom: 150px;
  }
}

.navigator-div-controller {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 800;
  background-color: #fff;
  font-size: 25px;
  text-align: center;
  height: 75px;
  div.content-div {
    height: inherit;

    div.pause-button {
      width: calc(100% - 27% * 3);
      float: left;
      font-size: 50px;
      height: inherit;
      a {
        color: #fff;
      }
      padding: 11.5px;
    }
  
    div.time-section,
    div.distance-section,
    div.speed-section {
      div {
        margin: 2px 0;
      }
      span.navigation-value {
        font-size: 22px;
      }
      span.navigation-text {
        font-size: 16px;
      }
      span {
        display: block;
        line-height: 22px;
      }
      color: $color-brown;
      width: 27%;
      float: left;
      height: inherit;
    }

    a {
      color: #fff;
    }

    div.resume-navigation,
    div.stop-navigation {
      width: 40%;
      float: left;
      padding: 15px;
    }

    div.resume-navigation {
      background-color: #7BB221;
      margin: 12px 2% 13px 8%;
    }

    div.stop-navigation {
      background-color: #FF4108;
      margin: 12px 8% 13px 2%;
    }
  }
}

ion-side-menus.navigation-interface {
  ion-nav-bar {
    display: none;
  }
  .map-page ion-footer-bar.bar.bar-assertive.bar-footer {
    height: 100%;
  }
}

/* ------------------------------------ *\
   #MAP POPOVER
\* ------------------------------------ */

.leaflet-container {
  a.leaflet-popup-close-button {
    display: none;
  }
}

// TODO: find a way to set popup bg via js ?! 
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(96,88,70,.8);
  color: white;
  @include box-shadow(0 0 3px transparentize($color-box-shadow, 0.25));
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-right: 13px;
  width: 310px;

  .leaflet-popup-content {
    font-family: $main-font-family;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    height: 104px;

    div.popup-div-margin {
      padding: 10px;
    }

    div.popup-div {
      overflow: hidden;

      div.popup-img {
        width: 103px;
        height: 103px;
        display: inline-block;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 103px;
          height: 103px;
          border-radius: 4px 0 0 4px;
        }

        div {
          margin: 5px;
          // border: 1px solid #CCCCCC;
          // border-radius: 10px;
          padding:20px;
          i {
            font-size: 53px;
            // opacity: 0.6;
          }
        }
      }
  
      div.popup-content-full,
      div.popup-content-img {
        display: inline-block;
        width: 100%;
        // padding-left: 10px;
        padding: 10px;

        .popup-title,
        .popup-content-title,
        .popup-category,
        .popup-description {
          margin: 0;
          padding: 0;
          color: inherit;
          // font-family: $main-font-family;
        }

        .popup-content-title {
          height: 84px;
          // To center vertically
          // display: table;
        }
      
        .popup-title {
          font-size: 23px;
          line-height: 27px;
          max-height: 81px;
          overflow: hidden;

          display: block;
          display: -webkit-box;
          max-width: 164px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;

          // To center vertically
          // vertical-align: middle;
          // display: table-cell;
        }

        .popup-category {
          height: 14px;
          line-height: 14px;
          width: 164px;
          font-size: 14px;
          margin: 3px 0;
          color: #E2E2E2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      
        .popup-description {
          font-size: 15px;
        }
      }

      div.popup-content-img {
        float: right;
        width: 174px;
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}

.leaflet-popup-content {
  width: auto !important;
  min-width: 271px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  p {
    margin: 18px 26px;
  }
}

button.popup-button {
  display: inline-block;
  padding: 25px;
  background: transparent;
  border: none;
  position: absolute;
  right: -25px;
  top: 50%;
  color: #A2A2A2;
  @include vertical-centering;

  .icon {
    &::before {
      font-size: 30px;
      vertical-align: middle;
    }
  }
}

button.popup-close {
  display: inline-block;
  padding: 25px;
  background: transparent;
  border: none;
  position: absolute;
  left: -36px;
  color: $color-gray;
  @include vertical-centering;
  top: 0;

  .icon {
    &::before {
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

/* ------------------------------------ *\
   #IMAGE SLIDER
\* ------------------------------------ */

/* Prevent scrolling in image slider */
.modal-details-gallery {
  .scroll-view.scroll-xy {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/* Image in slider */
.image-in-gallery {
  margin: 0 auto;
}

/* Slider loader */

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.modal-image-loader {
  width: 46px;
  height: 46px;
  margin-top: -12px;
  margin-left: -23px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  color: $color-white;
  font-size: 45px;
  line-height: 46px;
  -webkit-animation: spin 0.95s infinite linear;
  -o-animation: spin 0.95s infinite linear;
  animation: spin 0.95s infinite linear;
}

/* Remove slider pager */
.slider-pager {
  display: none;
}

// TODO: add check js side
.when-welcome {
  .leaflet-overlay-pane {
    display: none;
  }
  .leaflet-marker-icon, .vector-marker {
    display: none;
  }
}

.is-a-poi {
  path {
    // fill: #605846 !important;
  }
  .vector-marker {
    cursor: default !important;
  }
}

.leaflet-tile-container canvas {
  // opacity: 0.2 !important;
  opacity: 0 !important;
}


/* ------------------------------------ *\
   #MEDIA QUERIES
\* ------------------------------------ */

@media only screen and (min-width: 1025px) {
  .leaflet-bar,
  .coords-block {
    display: block;

    .welcome-page & {
      display: none;
    }
  }

  .icon.map-center {
    .desktop-half-map & {
      display: block;
    }

    .welcome-page &,
    .welcome-page.desktop-half-map & {
      display: none;
    }
  }
}