.packages-title {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.details-image-reduced {
  padding: 11px;
  position: relative;
  width: 40%;
  float: left;
  img {
    border: 2px solid #f2f5e8;
    display: block;
    margin: 0 auto;
  }
}

.details-reduced {
  float: right;
  width: 60%;
  height: 100%;
  position: relative;
}

.content-reduced {
  min-height: 15%;
  height: 15%;
}

.packages-title {
  font-size: 1.2em;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
}

.buttons-reduced {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20%;
  .reduced-button {
    width: 48%!important;
    display: inline!important;
    padding: 0;
    line-height: 30px!important;
    min-height: 30px!important;
  }
}

.modal-inner-content.modal-two-columns.coupons-list {
  padding: 0!important;
}