/**
 * SEARCH PAGE
 *
 * Style for search page
 */


/* ------------------------------------ *\
   #GENERAL
\* ------------------------------------ */

.alpha-scroll {
    color: #000;
    position: absolute;
    top: 125px;
    right: 0px;
    text-align: center;
    height: calc(100vh - 125px - 44px);
    font-size: 15px;
    .alpha-scroll__letter {
        display: block;
        height: 15px;
        margin-bottom: calc((100vh - 125px - 44px - 15px * 27) / 27);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.item-search-filter {
    padding: 4px;
    position: relative;
    z-index: 300;
    border: none;
}

.item-search-form {
    padding: 10px 19px 2px;
    position: relative;
    z-index: 300;
    border: none;
}

.search-select-box,
.search-input-box {
    width: 100%;
    input {
        width: 100%;
    }
    button:hover {
        // background-color: #F3F6EA;
        border: 1px solid #918F75;
        color: #918F75;
    }
}

/*.select-category-left,
.select-category-right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}*/

.select-category-right {
    text-align: right;
}

.label-select-search,
.label-select-name {
    display: block;
}

.label-select-search,
.label-select-others {
    font-size: 15px;
    color: inherit;
}

.label-select-others {
    //display: block;
    text-transform: lowercase;
}

.label-select-name {
    font-size: 16px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.search-input-box {
    padding: 3px;
    background: $color-white;
    border: 1px solid $color-light-02;
    position: relative;
    .search-input {
        padding: 3px 8px;
        font-size: 18px;
    }
    .button {
        width: 35px;
        height: 35px;
        background: transparent;
        overflow: hidden;
        position: absolute;
        right: 5px;
        &::before {
            margin-top: 0;
            padding: 5px;
            font-size: 30px;
        }
    }
}

.search-input {
    @include placeholder {
        font-style: italic;
        // font-family: $main-font-family;
        font-size: 18px;
    }
}

.label-input-wrapper {
    display: inline-block;
    width: 100%;
}

.search-button-container {
    width: 100%;
    padding: 4px 10px;
    .search-button {
        margin: 5px;
        width: calc(50% - 10px);
        padding-top: 8px;
        padding-bottom: 8px;
        float: left;
        font-size: 18px;
        font-weight: bold;
        .search-button-label {
            text-transform: uppercase;
        }
    }
}

.two-lines-ellipsis {
    @include line-text-ellipsis(2, 22, 24);
    padding-bottom: 0;
    padding-top: 0;
}