/*
 * TAXONOMY PAGE
 *
 */

/* ------------------------------------ *\
   #Taxonomy
\* ------------------------------------ */

.taxonomy-page {
  ion-content {
    padding: 2%;
    .taxonomy-button {
      box-shadow: 0px 2px 5px #d7d7d7;
      margin: 0 0 10px;
      width: 100%;
      height: calc(100% / 3.5);
      // height: 150px;
      .taxonomy-content {
        margin-left: 10px;
        width: calc(100% - 10px);
        height: 100%;

        div {
          width: 100%;
        }
        .taxonomy-image {
          height: calc(100% - 60px);
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
          }
        }
        .taxonomy-titlebar {
          color: #000;
          background: #fff;
          padding: 10px 5px;
          line-height: 20px;
          font-size: 17px;
          height: 60px;
          text-transform: uppercase;
          font-weight: 700;
          width: 100%;
          position: relative;
          span {
            display: inline-block;
            max-width: calc(100% - 125px);
            max-height: 38px;
            overflow: hidden;
          }
          div.activity-icons {
            position: absolute;
            right: 5px;
            top: 17.5px;
            width: auto;
            i {
              font-size: 25px;
              margin: 12.5px 3px;
              padding: 3px;
              color: #D80000;
              border: 1px solid #D80000;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.animate-top-in {
  position: relative;
  animation: animateTopIn 0.4s forwards;
}

.animate-top-out {
  position: relative;
  animation: animateTopOut 0.4s forwards;
}

.animate-expand-height {
  animation: animateExpandHeight 0.4s forwards;
}

.animate-collapse-height {
  animation: animateCollapseHeight 0.4s forwards;
}

@keyframes animateTopIn {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateTopOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}

@keyframes animateExpandHeight {
  from {
    height: 0;
  }
  to {
    height: 45px;
  }
}

@keyframes animateCollapseHeight {
  from {
    height: 45px;
  }
  to {
    height: 0;
  }
}