/*
 * TRACK TAXONOMY PAGE
 *
 */

.trackTaxonomy-page {
    ion-content {
        background: rgb(73, 165, 223);
        padding: 10px;

        .taxonomy-filter {
            display: flex;
            height: 10vh;
            padding: 10px 0;

            .pf-taxonomy-filter__select {
                flex: 1;
                height: 100%;
                margin: 0 10px 0 0;
                position: relative;
                overflow: hidden;
                font-size: $font-size-xxxl;
                color: #ffffff;
                text-align: center;

                //&::before {
                //    width: 45px;
                //    @include inline-flex;
                //    @include align-items(center);
                //    @include justify-content(center);
                //    background: $color-extra-light-blue;
                //    @include webmapp-icon('\f151');
                //    position: absolute;
                //    top: 0;
                //    right: 0;
                //    bottom: 0;
                //    color: $color-dark-blue;
                //    font-size: $font-size-l;
                //    @include box-shadow(inset 1000px 0px 55px -1000px rgba(18, 16, 11, 0.9));
                //}

                &:last-of-type {
                    margin-right: 0;
                }

                &.pf-taxonomy-filter__selected {
                    color: $color-text;
                }
            }

            select {
                width: 120%;
                height: 100%;
                padding-right: 10px;
                padding-left: 10px;
                -webkit-appearance: none;
                border: none;
                border-radius: 0;
            }

            #filter-selection {
                font-size: 20px;

                background: #fff;
            }


        }

        //
        //.pf-taxonomy-wrapper {
        //    height: 60vh;
        //    overflow-y: auto;
        //}

        div.taxonomy {
            @include flexbox;
            @include justify-content(space-between);
            color: #000;
            width: 100%;
            height: 15vh;
            margin-bottom: 10px;
            background: #fff;

            div.taxonomy-title {
                @include flexbox;
                @include align-items(center);
                @include flex(0 0 80%);
                max-width: 80%;
                height: inherit;
                padding: 20px 10px;
                overflow: hidden;
                font-weight: $font-weight-bold;
                font-size: $font-size-xl;
                line-height: 1.2;
                color: $color-text;

            }

            div.taxonomy-button {
                @include flexbox;
                @include flex-flow(column nowrap);
                @include align-items(center);
                @include justify-content(center);
                @include flex(0 0 20%);
                @include box-shadow(inset 1000px 0px 55px -1000px rgba(18, 16, 11, 0.9));
                max-width: 20%;
                height: inherit;
                padding: 20px;
                color: #fff;
                text-align: center;
                font-family: $title-font-family;
                font-weight: $font-weight-bold;
                font-size: $font-size-l;

                .wm-icon-ios7-arrow-forward {
                    margin-left: 5px;
                    font-size: 20px;
                }

                > .icon {
                    font-size: 32px;
                    color: $color-text;
                }
            }

            .taxonomy-button__count {
                @include flexbox;
                @include align-items(center);
                padding-top: 10px;
            }
        }

        .taxonomy-footer {
            @include flexbox;
            @include justify-content(space-between);
            height: 12vh;
            padding: 10px;
            position: fixed;
            right: -10px;
            bottom: -10px;
            left: -10px;
            background: #ffffff;

            .footer-button {
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                @include flex(0 0 32%);
                max-width: 32%;
                font-size: $font-size-s;
                color: #ffffff;
                background: $color-light-blue;
                font-family: $title-font-family;
                font-weight: $font-weight-bold;
                text-transform: uppercase;

                &.pf-footer-button-card {
                    background: $color-dark-blue;
                }
            }
        }
    } 
}