/*
 * TRACK TAXONOMY PAGE
 *
 */

.trackTaxonomy-page {
    ion-content {
        padding: 10px;
        .taxonomy-filter {
            #filter-selection {
                font-size: 20px;
                margin: 0 15% 15px;
                width: 70%;
                background: #fff;
            }
        }
        div.taxonomy {
            color: #000;
            width: 100%;
            height: 130px;
            margin-bottom: 10px;
            div.taxonomy-title {
                height: inherit;
                font-size: 40px;
                line-height: 45px;
                vertical-align: middle;
                padding: 20px 10px;
                overflow: hidden;
                width: calc(100% - 100px);
                float: left;
                font-weight: 700;
            }
            div.taxonomy-button {
                @include box-shadow(inset 1000px 0px 55px -1000px rgba(18, 16, 11, 0.9));
                height: inherit;
                width: 100px;
                float: left;
                color: #fff;
                text-align: center;
            }
        }
        .taxonomy-footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            height: auto;
            .footer-button {
                width: calc(100% /3);
                float: left;
                font-size: 20px;
                color: #000;
            }
        }
    } 
}