/*
 * TRACK TAXONOMY PAGE
 *
 */

.trackTaxonomy-page {
    ion-content {
        padding: 10px;
        div.taxonomy {
            color: #000;
            width: 100%;
            height: 130px;
            margin-bottom: 10px;
            div.taxonomy-title {
                height: inherit;
                font-size: 40px;
                line-height: 55px;
                vertical-align: middle;
                padding: 10px;
                overflow: hidden;
                width: 70%;
                float: left;
            }
            div.taxonomy-button {
                height: inherit;
                width: 30%;
                float: left;
                color: #fff;
            }
        }
    } 
}