<ion-view 
    class="languages-page"
    cache-view="false" 
    ng-controller="LanguagesController as vm">
    <ion-nav-title>
        <span>
            {{::"Impostazioni" | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon"
            menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black; background: {{COLORS.global.background}}">
        <div id="settingsContent">
            <h3>{{::"Seleziona la lingua" | translate}}</h3>
            <div id="radio">
                <label
                    ng-repeat="language in vm.languages">
                    <input
                        type="radio"
                        name="languageRadio"
                        value="{{language}}"
                        ng-click="vm.chooseLang(language)"
                        ng-checked="vm.currentLang === language"
                        />
                    {{language | translate}}
                </label>

            </div>
        </div>
    </ion-content>
</ion-view>

