<ion-view 
    class="languages-page"
    cache-view="false" 
    ng-controller="LanguagesController as vm">
    <ion-nav-title>
        <span>
            {{::"Impostazioni" | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon"
            menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black; background: {{COLORS.global.background}}">
        <div id="settingsContent">
            <h3>{{::"Seleziona la lingua" | translate}}</h3>
            <div id="radio">
                <label
                    ng-repeat="lang in vm.languages">
                    <input
                        type="radio"
                        name="language"
                        value="{{lang}}"
                        ng-click="vm.chooseLang(lang)"
                        />
                    {{lang | translate}}
                </label>

            </div>
            <p id="warning">
                <img src="https://api.webmapp.it/j/vn.j.webmapp.it/media/images/warning.png" alt="WARNING!" />
                Questa funzionalità sarà disponibile a breve
            </p>
        </div>
    </ion-content>
</ion-view>

