<ion-view 
    cache-view="false" 
    ng-controller="ListController as vm">
    
    <ion-nav-title>
        <span
            ng-style="{
                'color': vm.colors.mainBar.overwrite ? vm.colors.mainBar.color : vm.color
            }">
            {{vm.viewTitle | translate}} <span ng-if="vm.showCount">({{vm.layersMap[vm.viewTitle].items.length}})</span>
        </span>
    </ion-nav-title>
    
    <ion-nav-buttons 
        side="left" 
        class="no-animate">
        <button 
            class="no-animate button button-icon icon ion-navicon" 
            menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons 
        side="right" 
        class="no-animate">
        <button 
            class="no-animate button button-icon icon wm-icon-ios7-search-strong"
            ng-if="vm.useSearch"
            ng-click="vm.goToSearch()"></button>
    </ion-nav-buttons>

    <ion-item 
        class="item item-icon-left back-item"
        ng-style="{
            'background': vm.colors.subnav.background,
            'color': vm.colors.subnav.color
        }"
        ng-if="vm.backItem"
        ng-click="vm.goTo('layer/' + vm.backItem.url)">
        <i class="icon ion-ios-arrow-left"></i>
        {{vm.backItem.label | translate}}
    </ion-item>
    
    <!-- TODO: aggiungere classe has-show-more per il caso in cui ci sia la freccia di espansione -->
    <ion-content
        class="has-show-more {{currentParams.id}} scroll-content ionic-scroll"
        ng-style="{
            'background': vm.colors.details.background
        }"
        ng-class="{
            'has-filter': vm.hasFilter,
            'has-back-btn': vm.showCategoryBack
        }">

        <div
            ng-class="{
                'is-sub-group': vm.subGroupMenu,
                'is-sub-list': !vm.subGroupMenu
            }"
            ng-if="!vm.detail">
            <div 
                class="list"
                ng-if="!vm.subMenu">

                <a 
                    class="item item-icon-left"
                    ng-if="vm.subGroupMenu"
                    ng-style="{
                        'color': vm.colors.list.color ? vm.colors.list.color : '#605846'
                    }"
                    ng-click="vm.goTo('layer/' + item.url)"
                    ng-repeat="item in vm.subGroupMenu">
                    <i class="icon {{item.icon}}" ng-style="{'color': item.color}"></i>
                    {{item.label}}
                </a>
                <!-- TODO: add class has-subtitle when item has subtitle -->
                <a 
                    class="item item-icon-left"
                    ng-if="vm.subMenuLabel"
                    ng-click="vm.goTo('layer/' + vm.currentCategory + '/' + item.properties.id)"
                    ng-repeat="item in vm.layersMap[vm.subMenuLabel].items | filter:search"
                    ng-style="{
                        'color': vm.colors.list.color ? vm.colors.list.color : '#605846'
                    }">
                    <i class="icon {{item.properties.icon}}" ng-style="{'color': item.color ? item.color : '#605846'}"></i>
                    <!-- TODO: add following markup for subtitle -->
                    <span class="list-info-title" ng-bind-html="item.properties.name"></span>
                    <!-- <span class="list-info-subtitle">Via Nazionale 144 25052 Piancogno, BS</span> -->
                </a>
            </div>

            <ion-list 
                ng-if="vm.subMenu">

                <!-- TODO: add class has-subtitle when item has subtitle -->
                <ion-item 
                    class="item item-icon-left"
                    ng-click="vm.goTo('layer/' + vm.currentCategory + '/' + item.properties.id)"
                    collection-repeat="item in vm.subMenu | filter:search">
                    <i class="icon {{item.properties.icon}}" ng-style="{'color': item.properties.color ? item.properties.color : '#605846'}"></i>
                    <!-- TODO: add following markup for subtitle -->
                            <span
                                class="list-info-title"
                                style="color: #605846"
                                ng-bind-html="item.properties.name">
                            </span>
                            <!-- <span class="list-info-subtitle">Via Nazionale 144 25052 Piancogno, BS</span> -->

                </ion-item>
            </ion-list>

        </div>
    
    </ion-content>
    
    <!-- TODO: to show only when there are a lot of items -->
    <div 
        class="arrow-show-more"
        ng-style="{
            'background': vm.colors.global.background
        }"
        ng-click="vm.toggleList()">
        <i 
            class="icon"
            ng-class="{
               'wm-icon-ios7-arrow-down': !vm.isListExpanded,
               'wm-icon-ios7-arrow-up': vm.isListExpanded
            }">
        </i>
    </div>
</ion-view>

