<ion-view class="settings-page" cache-view="false" ng-controller="SettingsController as vm">
    <ion-nav-title>
        <span>
            {{"MAPPA OFFLINE" | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black;" ng-style="{
        'background': COLORS.global.background
    }">
        <div class="static-content card-content">
            <div class="card-text card-opportunities">
            </div>

            <div class="card-title">
                <span class="card-title-inner">{{"Scarica la mappa e abilita la funzione di navigazione offline" |
                    translate}}</span>
            </div>
            <button ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }"
                class="button-download button button-block button-half" ng-click="vm.openOfflinePage()">
                {{"OFFLINE" | translate}}
            </button>
            <br />
        </div>
    </ion-content>
</ion-view>