<ion-view 
    class="settings-page"
    cache-view="false" 
    ng-controller="SettingsController as vm">
    <ion-nav-title>
        <span>
            {{::"MAPPA OFFLINE" | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button 
            class="no-animate button button-icon icon ion-navicon"
            menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black; background: {{COLORS.global.background}}">
        <div 
            class="static-content card-content">
            <div 
                class="card-text card-opportunities">
                <!--<h2 class="card-text-title">MAPPA OFFLINE</h2>-->
                <!-- <p>Una card, tante iniziative e sorprese esclusive solo per gli esploratori della Valle dei Segni</p> -->
            </div>

            <div class="card-title">
                <span class="card-title-inner">{{::"Scarica la mappa e abilita la funzione di navigazione offline" | translate}}</span>
            </div>
            <button
                style="background:{{COLORS.global.buttonsBackground}}; color:{{COLORS.global.buttonsColor}};"
                class="button-download button button-block button-half"
                ng-click="vm.openOfflinePage()">
                {{::"OFFLINE" | translate}}
            </button>
            <br/>
        </div>
        <!--
            <div class="static-content card-content"
                 ng-if="!vm.isLoggedIn">
                     <div
                        class="card-text card-opportunities">
                <h2 class="card-text-title">COGLI LE OPPORTUNITÀ</h2>
                <p>Una card, tante iniziative e sorprese esclusive solo per gli esploratori della Valle dei Segni</p>
            </div>
            <div class="card-title">
                <span class="card-title-inner">Effettua il login per accedere ai contenuti a te riservati</span>
            </div>
            <button
                style="background: {{COLORS.global.buttonsBackground}}"
                class="login-button button button-block"
                ng-click="vm.openLoginOrRegistration()">
                Accedi adesso
            </button>

            <div class="card-title">
                <span class="card-title-inner">Oppure registrati subito</span>
            </div>
            <button
                class="login-button button button-block"
                ng-click="vm.openLoginOrRegistration(true)">
                Registrati
            </button>
        </div>

        <div 
            class="static-content card-content"
            ng-if="vm.isLoggedIn">
            <div 
                class="card-text card-opportunities">
                <h2 class="card-text-title">ESCI DAL TUO ACCOUNT</h2>
                <!-- <p>Una card, tante iniziative e sorprese esclusive solo per gli esploratori della Valle dei Segni</p>
            </div>

            <button
                style="background: {{COLORS.global.buttonsBackground}}"
                class="login-button button button-block"
                ng-click="vm.logout()">
                LOGOUT
            </button>
        </div> -->
    </ion-content>
</ion-view>

