//
// COLOR SCHEME
//
// Definition of all the colors used in the interface
//

// ------------------------------------ //
// #COLOR-SCHEME
// ------------------------------------ //

/* Valcamonica color scheme */
$color-green: #4a6e23;
$color-blue-grey: #4C676A;
$color-light-green: #f3f6ea;
$color-brown: #605846;
$color-dark-brown: #6e655f;
$color-light-01: #e5e6dd;
$color-light-02: darken(#bebdae, 20%);
$color-light-03: #f7f9f1;
$color-menu-border: #cecec1;
$color-white: #ffffff;
$color-button-text-shadow: #221c12;
$color-box-shadow: #12100b;
$color-black: #000000;

$color-red-01: #a63e0a;
$color-red-02: #bb3437;
$color-dark-red: #80181e;
$color-red-heart: #b52125;
$color-orange: #df7916;

$color-login-bg: #f8faf3;

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #c32f10;
$color-gray: #a2a2a2;