//
// VARIABLES
//
// Definition of default Mappalo variables
//

// ------------------------------------ //
// #FONTS
// ------------------------------------ //

$main-font-family: 'Libre Franklin', sans-serif;
$title-font-family: 'Libre Franklin', sans-serif;
// $main-font-family: 'Josefin Sans', sans-serif;
// $title-font-family: 'Josefin Sans', sans-serif;
$title-size: 20px;

$font-weight-normal: 400;
$font-weight-bold: 700;
