//
// VARIABLES
//
// Definition of default Mappalo variables
//

// ------------------------------------ //
// #FONTS
// ------------------------------------ //

$main-font-family: 'merriweather', sans-serif;
$title-font-family: 'montserrat', sans-serif;
// $main-font-family: 'Josefin Sans', sans-serif;
// $title-font-family: 'Josefin Sans', sans-serif;
$title-size: 20px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// ------------------------------------ //
// #FONTS
// ------------------------------------ //

$font-size-xxs:     12px;
$font-size-xs:      13px;
$font-size-s:       14px;
$font-size-m:       16px;
$font-size-ml:      18px;
$font-size-l:       24px;
$font-size-xl:      28px;
$font-size-xxl:     36px;
$font-size-xxxl:    44px;