//
// VARIABLES
//
// Definition of default Mappalo variables
//

// ------------------------------------ //
// #FONTS
// ------------------------------------ //

$main-font-family: "Rubik", sans-serif;
$title-font-family: "Rubik Bold", sans-serif;
// $main-font-family: 'Roboto', sans-serif;
// $title-font-family: 'Roboto', sans-serif;
$title-size: 20px;

$font-weight-normal: 400;
$font-weight-bold: 700;
