<!-- TODO: add class itinerario-details for itinerario ?-->
<ion-view cache-view="false" ng-controller="DetailRouteController as vm" class="layer-details" ng-style="{
        'background': vm.colors.details.background,
        'color': vm.colors.details.color
    }">

    <ion-nav-title>
        <span style="font-size: 64%;">
            {{vm.pageConf.title}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left" class="no-animate">
        <button class="no-animate button button-icon icon wm-icon-ios7-arrow-thin-left" ng-click="vm.goBack()">
        </button>
    </ion-nav-buttons>

    <ion-content ng-style="{
        'background': vm.colors.global.background
    }" class="detail-route">
        <div class="details-container">
            <div class="details-content" ng-class="{
                    'details-columns': vm.featureImage,
                    'details-row': !vm.featureImage
                }">
                <!--    one columns layout -->
                <div class="details-rows">
                    <div class="details-title" ng-bind-html="vm.title">
                    </div>
                    <div class="details-route" ng-if="vm.codeRoute || vm.difficulty !== '0' ">
                        <span class="code" ng-if="vm.codeRoute">
                            <strong>{{"Codice" | translate}}</strong>: {{vm.codeRoute}}
                        </span>
                        <span class="difficulty" ng-if="vm.difficulty !== 0">
                            <strong>{{"Difficoltà" | translate}}</strong>:
                            <i class="fa" aria-hidden="true" ng-repeat="n in [].constructor(vm.maxDifficulty) track by $index" ng-class="{ 'fa-star-half-o' : (vm.difficulty - $index) == 0.5 , 'fa-star' : vm.difficulty > $index, 'fa-star-o': vm.difficulty <= $index  }"></i>
                        </span>
                    </div>

                    <div class="details-image-route">
                        <span
                            class="image-expand"
                            ng-if="!vm.isAreaDetail && (vm.imageGallery.length > 1 || (vm.imageGallery.length === 1 && vm.imageGallery[0].caption && vm.imageGallery[0].caption !== ''))"
                            ng-click="vm.openImageModal()">
                            <i class="icon wm-icon-ios7-more"></i>
                        </span>
                        <img ng-if="!vm.isAreaDetail" ng-click="vm.openImageModal()" ng-src="{{vm.featureImage}}">
                        <img ng-if="vm.isAreaDetail" style="max-height: 125px; margin-left: 20%;" ng-src="{{vm.featureImage}}">
                    </div>

                    <div class="details-description details-rows" ng-bind-html="vm.description">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div ng-style="{
        'background': vm.colors.global.background
    }" class="detailRoute-footer">
        <div ng-if="!vm.isPublic && 
                (
                    (
                        vm.isLoggedIn && !vm.userPackagesId[vm.id]
                    ) ||
                    !vm.isLoggedIn
                )">
            <button ng-if="vm.voucherAvailable" ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }" class="login-button button left" ng-class="{
                    'full': !(vm.purchaseAvailable && vm.voucherAvailable)
                }" ng-click="vm.goToInfo()">
                {{"Piu info" | translate}}
            </button>
            <button ng-if="vm.purchaseAvailable" ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }" class="login-button button right" ng-class="{
                    'full': !(vm.purchaseAvailable && vm.voucherAvailable)
                }" ng-click="vm.buyRoute()">
                {{"Acquista 9.99€" | translate}}
            </button>
        </div>
        <div ng-if="(
                    !vm.userDownloadedPackages[vm.id] &&
                    (
                        (
                            vm.isLoggedIn && vm.userPackagesId[vm.id]
                        ) || vm.isPublic
                    )
                ) ||
                (
                    vm.userDownloadedPackages[vm.id] && !vm.isLoggedIn && vm.isPublic && !vm.skipLogin
                )">
            <button ng-style="{
                'background': COLORS.global.buttonsBackground,
                'color': COLORS.global.buttonsColor
            }" class="login-button button button-block" ng-click="vm.downloadPack()">
                {{"Scarica" | translate}}
            </button>
        </div>
        <div ng-if="vm.userDownloadedPackages[vm.id] &&
                (
                    (
                        vm.isLoggedIn && 
                        (
                            vm.userPackagesId[vm.id] || vm.isPublic
                        )
                    ) ||
                    (
                        !vm.isLoggedIn && vm.isPublic && vm.skipLogin
                    )
                )">
            <button ng-style="{
                'background': COLORS.global.buttonsBackground,
                'color': COLORS.global.buttonsColor
            }" class="login-button button button-block" ng-click="vm.openPackage()">
                {{"Apri" | translate}}
            </button>
            <i class="icon wm-icon-android-trash" ng-click="vm.removePack()"></i>
        </div>
    </div>
</ion-view>