<ion-view class="taxonomy-page" cache-view="false" ng-controller="TaxonomyController as vm">
    <ion-nav-title>
        <span>
            {{vm.title}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="no-animate button button-icon icon wm-icon-ios7-search-strong" ng-click="vm.toggleSearch()"></button>
    </ion-nav-buttons>

    <div id="search-fixed" ng-class="{
        'animate-top-in': vm.searchActive,
        'animate-top-out': !vm.searchActive
    }">
        <input type="search" placeholder="{{'Cerca' | translate}}" ng-model="vm.search" />
    </div>

    <ion-content class="withSearchBar" style="color: black;" ng-style="{
        'background': COLORS.global.background
    }">
        <div id="whitespace" ng-class="{
            'animate-expand-height': vm.searchActive,
            'animate-collapse-height': !vm.searchActive
        }"></div>
        <div ng-repeat="item in vm.taxonomy | taxonomySearchFilter : vm.search" class="taxonomy-button" ng-click="vm.goToTaxonomy(item.id)" ng-style="{
                'background-color': item.color
            }">
            <div class="taxonomy-content">
                <div class="taxonomy-image">
                    <img ng-src="{{item.featured_image.sizes.medium}}">
                </div>
                <div class="taxonomy-titlebar">
                    <span ng-if="item.name[vm.currentLang]" ng-bind-html="item.name[vm.currentLang]">
                        <!-- {{item.name[vm.currentLang]}} -->
                        <!-- <br> {{item.title}} -->
                    </span>
                    <span ng-if="item.name[vm.defaultLang] && !item.name[vm.currentLang]">
                        {{item.name[vm.defaultLang]}}
                        <!-- <br> {{item.title}} -->
                    </span>
                    <span ng-if="item.name && !item.name[vm.currentLang] && !item.name[vm.defaultLang]">
                        {{item.name}}
                        <!-- <br> {{item.title}} -->
                    </span>
                    <div class="activity-icons">
                        <i ng-repeat="icon in item.icons" class="icon activity-icon" ng-class="icon"></i>
                        <!-- <i class="icon wm-icon-car-15 activity-icon"></i>
                        <i class="icon wm-icon-bicycle-15 activity-icon"></i> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-space"></div>
    </ion-content>
    <div class="footer-menu">
        <!-- <div ng-click="vm.goTo('/')">
            <i class="icon wm-icon-map"></i><br/>
            Mappa
        </div> -->
        <div ng-click="vm.goTo('sos')">
            <i class="icon wm-icon-ios7-medkit"></i><br/>
            SOS
        </div>
        <div ng-click="vm.goTo('infopoint')">
            <i class="icon wm-icon-informatcircled"></i><br/>
            Infopoint
        </div>
    </div>
</ion-view>