<ion-view class="detailTaxonomy-page" cache-view="false" ng-controller="DetailTaxonomyController as vm">
    <ion-nav-title ng-style="{
        'color': vm.item.color
    }">
        <span ng-if="vm.title[vm.currentLang]">
            {{vm.title[vm.currentLang]}}
        </span>
        <span ng-if="vm.title[vm.defaultLang] && !vm.title[vm.currentLang]">
            {{vm.title[vm.defaultLang]}}
        </span>
        <span ng-if="vm.title && !vm.title[vm.defaultLang] && !vm.title[vm.currentLang]">
            {{vm.title}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black;" ng-style="{
        'background': vm.colors.details.background
        }" class="has-show-more">
        <div class="detailTaxonomy-color" ng-style="{
            'background-color': vm.item.color
            }">
        </div>
        <div class="detailTaxonomy-image">
            <img ng-src="{{vm.item.featured_image.sizes.large}}">
        </div>
        <div class="detailTaxonomy-description" ng-class="{'show-full': vm.fullDescription}" ng-click="vm.toggleDescription()">
            <span ng-if="vm.item.description[vm.currentLang]">{{vm.item.description[vm.currentLang]}}</span>
            <span ng-if="vm.item.description[vm.defaultLang] && !vm.item.description[vm.currentLang]">{{vm.item.description[vm.defaultLang]}}</span>
            <span ng-if="vm.item.description && !vm.item.description[vm.defaultLang] && !vm.item.description[vm.currentLang]">{{vm.item.description}}</span>
            <div class="detailTaxonomy-read-more" ng-style="
            !vm.fullDescription ? {
                'background': 'linear-gradient(to bottom, transparent 0%, ' + vm.colors.details.background + ' 75%, ' + vm.colors.details.background + ' 100%)'
            } : {
                'background-image': 'linear-gradient(transparent, transparent)'
            }">
                <span>
                    {{vm.fullDescription ? "nascondi" : "leggi tutto" | translate}}
                </span>
            </div>
        </div>
        <div class="detailTaxonomy-routes">
            <div class="detailTaxonomy-route" ng-repeat="route in vm.routes" ng-click="vm.openOrDownloadPack(route.id)">
                <i ng-if="!vm.userDownloadedPackages[route.id]" class="icon wm-icon-arrow-down-c download-icon" ng-style="{'background': vm.colors.details.background}"></i>
                <i ng-if="vm.userDownloadedPackages[route.id] && (!route.lastDownload || route.lastDownload !== route.modified)" class="icon wm-icon-ios7-refresh-empty update-icon" ng-style="{'background': vm.colors.details.background}"></i>
                <i ng-if="vm.userDownloadedPackages[route.id] && (route.lastDownload === route.modified)" class="icon wm-icon-checkmark-round open-icon" ng-style="{'background': vm.colors.details.background}"></i>
                <i class="icon {{vm.activities[route.activity[0]].icon}} activity-icon"></i>
                <span ng-if="route.packageTitle[vm.currentLang]" ng-style="{'color': route.color}" ng-bind-html="route.packageTitle[vm.currentLang]">
                </span>
                <span ng-if="!route.packageTitle[vm.currentLang]" ng-style="{'color': route.color}" , ng-bind-html="route.packageTitle[vm.defaultLang]">
                </span>
            </div>
        </div>
    </ion-content>
    <div class="arrow-show-more" ng-style="{
          'background': vm.colors.details.background
        }" ng-click="vm.toggleList()">
        <i class="icon" ng-class="{
               'wm-icon-ios7-arrow-down': !vm.isListExpanded,
               'wm-icon-ios7-arrow-up': vm.isListExpanded
            }">
        </i>
    </div>
</ion-view>
