<ion-view class="detailTaxonomy-page" cache-view="false" ng-controller="DetailTaxonomyController as vm">
    <ion-nav-title>
        <span>
            {{vm.title}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black;" ng-style="{
        'background': COLORS.global.background
        }">
        <div class="detailTaxonomy-color" ng-style="{
            'background-color': vm.item.color
            }">
        </div>
        <div class="detailTaxonomy-image">
            <img ng-src="{{vm.item.featured_image.sizes.medium}}">
        </div>
        <div class="detailTaxonomy-description" ng-class="{'show-full': vm.fullDescription}">
            {{vm.item.description}}
            <div class="detailTaxonomy-read-more">
                <span ng-click="vm.toggleDescription()">
                    {{vm.fullDescription ? "nascondi" : "leggi tutto" | translate}}
                </span>
            </div>
        </div>
        <div class="detailTaxonomy-routes">
            <div class="detailTaxonomy-route" ng-repeat="route in vm.routes" ng-click="vm.openOrDownloadPack(route.id)">
                <i ng-if="!vm.userDownloadedPackages[route.id]" class="icon wm-icon-arrow-down-c download-icon" ng-style="{'background': COLORS.global.background}"></i>
                <i ng-if="vm.userDownloadedPackages[route.id]" class="icon wm-icon-checkmark-round open-icon" ng-style="{'background': COLORS.global.background}"></i>
                <i class="icon {{vm.activities[route.activity[0]].icon}} activity-icon"></i>
                <span ng-if="route.packageTitle[vm.currentLang]">
                    {{route.packageTitle[vm.currentLang]}}
                </span>
                <span ng-if="!route.packageTitle[vm.currentLang]">
                    {{route.packageTitle['it']}}
                </span>
            </div>
        </div>
        <!-- <div class="detailTaxonomy-map">
            <img ng-src="{{vm.item.featured_image.sizes.medium}}">
        </div> -->
    </ion-content>
</ion-view>