<ion-view class="home-page" cache-view="false" ng-controller="HomeController as vm">
    <ion-nav-title>
        <span>
            {{vm.appTitle}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content style="color: black;" ng-style="{
        'background': COLORS.global.background
    }">
        <div class="home-title">
            {{vm.title | translate}}
            <div class="loading-spinner" ng-if="vm.activitiesLoading">
                <ion-spinner></ion-spinner>
            </div>
        </div>
        <div class="home-content">
            <div ng-repeat="(key, item) in vm.activities" class="home-button width-{{vm.columns}} height-{{vm.rows}}" ng-click="vm.goTo(key)">
                <div class="home-button-content">
                    <div class="home-icon">
                        <i class="icon {{item.icon}}"></i>
                    </div>
                    <div class="home-name">
                        <span ng-if="item.name[vm.currentLang]">
                            {{item.name[vm.currentLang]}}
                        </span>
                        <span ng-if="item.name[vm.defaultLang] && !item.name[vm.currentLang]">
                            {{item.name[vm.defaultLang]}}
                        </span>
                        <span ng-if="item.name[Object.keys(item.name)[0]] && !item.name[vm.defaultLang] && !item.name[vm.currentLang]">
                            {{item.name[Object.keys(item.name)[0]]}}
                        </span>
                        <span ng-if="item.name && !item.name[vm.currentLang] && !item.name[Object.keys(item.name)[0]] && !item.name[vm.defaultLang] && !item.name[vm.currentLang]">
                            {{item.title}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>