<ion-view class="portoferraio-home-page" cache-view="false" ng-controller="PortoferraioHomeController as vm">
    <ion-nav-title>
        <span id="pageTitle" ng-if="vm.title">
            {{vm.title | translate}}
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="home-container">
            <div class="titles-container">
                <div class="left-bar">
                    <div class="title" ng-click="vm.goTo('page/portoferraio')">
                        Portoferraio
                    </div>
                    <div class="title" ng-click="vm.goTo('trackTaxonomy')">
                        {{"I Pontili" | translate}}
                    </div>
                    <div class="title" ng-click="vm.goTo('events')">
                        {{"Gli Eventi" | translate}}
                    </div>
                </div>
                <div class="right-bar">
                    <div class="right-button pf-home-card" ng-click="vm.goTo('card')">
                        <i class="icon wm-icon-android-user-menu"></i>
                        {{"Card" | translate}}
                    </div>
                    <div class="right-button" ng-click="vm.goTo('search')">
                        <i class="icon wm-icon-ios7-search-strong"></i>
                        {{"Cerca" | translate}}
                    </div>
                </div>
            </div>
            <div class="logo-container">
                <img src="core/images/logo-pf.png">
            </div>
            <div class="map-image" ng-click="vm.goTo('/')">

                <!--TODO: aggiungere immagine con mappa-->
                <img src="core/images/home-map.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>