/* custom style goes here */


/* ------------------------------------ *\
   #TOAST
\* ------------------------------------ */

.ionic_toast_sticky .ionic_toast_close {
    left: 4px;
    overflow: hidden;
    width: 0;
    height: 0;
}

.ionic_toast>.toast_section {
    padding: 10px;
    background: rgba($color-brown, 0.9);
}

.toast-container {
    .toast-alert-icon {
        display: none;
        i {
            color: #ff1500;
            font-size: 40px;
            float: left;
            padding: 15px 15px;
        }
    }
    .toast-content {
        float: left;
        text-align: center;
        width: 100%;
        .toast-message {
            font-weight: 700;
            font-size: 20px;
            height: 45px;
        }
        .toast-buttons {
            padding: 3px 20px;
            div {
                float: left;
                margin: 0 20px;
                width: calc((100% / 2) - 40px);
                text-transform: uppercase;
                padding: 4px 0;
                background: #aaa;
                &.pause-button {
                    background: #ECBE41;
                }
                &.stop-button {
                    background: #FF4108;
                }
            }
        }
    }
}

.modal-content {
    .accordion-filters {
        .left-icon {
            float: left;
            margin-right: 10px;
        }
        .right-icon {
            float: right;
            margin-left: 10px;
        }
        .filters-tab-title-container {
            width: 100%;
            border-bottom: 1px solid #848484;
            color: #848484;
            height: 40px;
            line-height: 30px;
            .filters-tab-title {
                &.cols-3 {
                    width: calc(100% / 3);
                }
                &.cols-2 {
                    width: 50%;
                }
                &.cols-1 {
                    width: 100%;
                }
                float: left;
                text-align: center;
                @include text-ellipsis;
                text-transform: uppercase;
                font-size: 25px;
                padding: 3px 0;
                &.selected {
                    color: #349912;
                    border-bottom: 3px solid #349912;
                }
            }
        }
        .filters-tab-content-container {
            .filters-tab-content {
                display: none;
                &.selected {
                    display: block;
                    width: 100%;
                }
                .filters-sublayer {
                    border-bottom: 1px solid $color-brown;
                    padding: 5px 10px;
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    text-align: left;
                    position: relative;
                    overflow: hidden;
                    height: auto;
                    transition: height 0.4s ease-out;
                    .filters-layer {
                        text-transform: capitalize;
                        font-weight: initial;
                        margin: 5px 20px;
                    }
                    .filters-layer.disable-checkbox {
                        color: #BBBBBB;
                    }
                }
            }
        }
    }
}
