<ion-modal-view class="modal-mappalo modal-filters">
    <a class="modal-close" ng-click="vm.hide()">
        <i class="icon wm-icon-android-close"></i>
    </a>
    <ion-content ng-style="{
        'background': vm.COLORS.details.background
    }">
        <div class="modal-content">
            <span class="modal-title">{{"VISUALIZZA/NASCONDI CATEGORIE" | translate}}</span>

            <ion-list ng-if="!vm.isNewModal">
                <label class="item item-checkbox ng-not-empty" ng-repeat="(key, obj) in vm.filters" ng-class="{
                        'is-selected': obj.value,
                        'is-not-selected': !obj.value
                    }">
                    <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                        <input type="checkbox" ng-click="vm.updateFilter(key, !obj.value)">
                        <i ng-class="{
                                'wm-icon-outline-check_box': obj.value,
                                'wm-icon-outline-check_box_outline_blank': !obj.value
                            }"></i>
                    </div>
                    <div class="item-content disable-pointer-events">
                        <span ng-if="key !== 'Tutte'" ng-bind-html="obj.name"></span>
                        <strong ng-if="key === 'Tutte'">{{obj.name}}</strong>
                        <span ng-if="obj.icon !== 'wm-icon-generic'" class="icon {{obj.icon}}" style="float: right" ng-style="{ 'color': obj.color }"></span>
                    </div>
                </label>
            </ion-list>

            <br>
            <br>
            <span class="modal-title" ng-if="!vm.isNewModal && vm.isMap">{{"CAMBIA MAPPA DI BASE" | translate}}</span>

            <ion-list class="round-list" ng-if="!vm.isNewModal && vm.isMap">
                <label class="item item-checkbox ng-not-empty is-not-selected" ng-repeat="(key, value) in vm.baseLayers">
                    <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                        <input type="checkbox" ng-model="currentFilter" ng-change="vm.updateBaseMap(key)" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-not-empty">
                        <i class="wm-icon-outline-radio_button_unchecked" ng-class="{
                                    'wm-icon-outline-radio_button_checked': vm.currentMapLayer == key,
                                    'wm-icon-outline-radio_button_unchecked': vm.currentMapLayer != key
                                }"></i>
                    </div>
                    <div class="item-content disable-pointer-events">
                        <span>{{key}}</span>
                    </div>
                </label>
            </ion-list>

            <div class="accordion-filters" ng-if="vm.isNewModal">
                <div class="filters-tab-title-container">
                    <div ng-repeat="(key, item) in filters" ng-click="switchTab(key)" class="filters-tab-title cols-{{tabNum}}" ng-class="{
                            'selected': currentTab === key
                        }">
                        {{item.languages[vm.currentLang] || item.languages[vm.defaultLang] || item.label}}
                    </div>
                </div>
                <div class="filters-tab-content-container">
                    <div ng-repeat="(key, item) in filters" class="filters-tab-content" ng-class="{
                        'selected': currentTab === key
                    }">
                        <div ng-repeat="(sublayerId, sublayer) in item.sublayers" class="filters-sublayer" ng-attr-id="{{'sublayer-' + key + '-' + sublayerId}}" ng-if="key !== 'base_maps'">
                            <div>
                                <i class="left-icon" ng-if="vm.isMapModal" ng-class="{
                                    'wm-icon-outline-check_box': sublayer.checked === 2,
                                    'wm-icon-outline-check_box_outline_blank': sublayer.checked === 0,
                                    'wm-icon-outline-indeterminate_check_box': sublayer.checked === 1
                                }" ng-click="toggleSubTabCheckBox(sublayerId,key)"></i>
                                <div ng-click=" toggleSubTab(sublayerId, key) ">
                                    <span ng-bind-html="sublayer.label[vm.currentLang] || sublayer.label[vm.defaultLang] || sublayer.label ">
                                    </span>
                                    <i class="icon right-icon " ng-class="{ 'wm-icon-ios7-arrow-forward': item.selectedTab !== sublayerId, 'wm-icon-ios7-arrow-down': item.selectedTab=== sublayerId } "></i>
                                </div>
                            </div>

                            <div class="filters-layer" ng-repeat="(layerId, layer) in sublayer.items" ng-class="{
                                'disable-checkbox': !layer.clickable
                            }" ng-click="toggleLayer(layer.label, sublayerId, key)">
                                <i class="left-icon" ng-class="{
                                    'wm-icon-outline-check_box': layer.checked,
                                    'wm-icon-outline-check_box_outline_blank': !layer.checked
                                }"></i>
                                <div ng-bind-html="layer.languages[vm.currentLang] || layer.languages[vm.defaultLang] || layer.label" class="filters-layer-name">
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="(mapId, mapItem) in item.items" class="filters-sublayer" ng-if="key === 'base_maps'">
                            <div>
                                <i class="left-icon" ng-class="{
                                    'wm-icon-outline-radio_button_checked': vm.currentMapLayer === mapItem.label,
                                    'wm-icon-outline-radio_button_unchecked': vm.currentMapLayer !== mapItem.label
                                }" ng-click="vm.updateBaseMap(mapItem.label)"></i>
                                <div ng-click="vm.updateBaseMap(mapItem.label)">
                                    {{mapItem.label}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
</ion-modal-view>
