<ion-modal-view class="modal-mappalo modal-filters">
    <a 
        class="modal-close"
        ng-click="vm.hide()">
        <i class="icon wm-icon-android-close"></i>
    </a>
    <ion-content style="background: {{COLORS.global.background}}">
        <div class="modal-content">
            <span class="modal-title">{{::"VISUALIZZA/NASCONDI CATEGORIE" | translate}}</span>

            <ion-list>
                <label 
                    class="item item-checkbox ng-not-empty" 
                    ng-repeat="(key, value) in vm.filters" 
                    ng-init="currentFilter = value" 
                    ng-model="value" 
                    ng-class="{
                        'is-selected': value,
                        'is-not-selected': !value
                    }">
                    <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                        <input 
                            type="checkbox" 
                            ng-model="value" 
                            ng-change="vm.updateFilter(key, value)" 
                            class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-not-empty">
                            <i 
                                class="ion-android-checkbox-outline"
                                ng-class="{
                                    'ion-android-checkbox-outline': value,
                                    'ion-android-checkbox-outline-blank': !value
                                }"></i>
                    </div>
                    <div 
                        class="item-content disable-pointer-events">
                        <span ng-if="key !== 'Tutte'">{{key}}</span>
                        <strong ng-if="key === 'Tutte'">{{key}}</strong>
                    </div>
                </label>
            </ion-list>

            <br><br>
            <span class="modal-title" ng-if="vm.isMap">{{::"CAMBIA MAPPA DI BASE" | translate}}</span>

            <ion-list 
                class="round-list"
                ng-if="vm.isMap">
                <label 
                    class="item item-checkbox ng-not-empty is-not-selected" 
                    ng-repeat="(key, value) in vm.baseLayers"
                    >
                    <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                        <input 
                            type="checkbox" 
                            ng-model="currentFilter"
                            ng-change="vm.updateBaseMap(key)" 
                            class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-not-empty">
                            <i 
                                class="wm-icon-ion-android-checkmark-circle-empty"
                                ng-class="{
                                    'wm-icon-ion-android-checkmark-circle': vm.currentMapLayer == key,
                                    'wm-icon-ion-android-checkmark-circle-empty': vm.currentMapLayer != key
                                }"></i>
                    </div>
                    <div 
                        class="item-content disable-pointer-events">
                        <span>{{key}}</span>
                    </div>
                </label>
            </ion-list>

        </div>
    </ion-content>

    <!-- <div class="modal-footer"> -->
        <!-- <span class="modal-footer-title">TITOLO FOOTER <i class="icon wm-icon-ios7-barcode-outline"></i></span> -->
        <!-- For modals that need this -->
       <!-- <div class="arrow-show-more"><i class="icon wm-icon-ios7-arrow-down"></i></div>-->
    <!-- </div> -->
</ion-modal-view>