<ion-modal-view id="login-view" class="login-page">
    <a class="modal-close" ng-click="hide()">
        <i class="icon wm-icon-android-close"></i>
    </a>
    <ion-content ng-style="{
        'background': COLORS.global.background
    }">
        <div class="login-header" ng-style="{
            'background': COLORS.mainBar.background,
            'color': COLORS.mainBar.color
        }">
            {{ state.registrationMode || state.resetMode ? "REGISTRATI" : "ACCEDI" | translate}}
        </div>

        <div ng-show="!state.registrationMode">

            <form
                class="login-form" 
                ng-show="!state.resetMode"
                ng-submit="doLogin(ud.username, ud.password)">
                <div class="list">
                    <label class="item item-input">
                        <input 
                            class="input-email input-ph"
                            type="text" 
                            ng-model="ud.username" 
                            autocorrect="off" 
                            autocapitalize="none" 
                            spellcheck="false" 
                            autocomplete="off"  
                            placeholder="{{'email' | translate}}">
                    </label>
                    <label class="item item-input">
                        <input 
                            class="input-password input-ph" 
                            type="password" 
                            ng-model="ud.password" 
                            autocomplete="off"  
                            placeholder="{{'password' | translate}}">
                    </label>
                    <div
                        class="skip-link password-lost-link"
                        ng-if="urlRecoveryPassword">
                        <a href="" ng-click="openInAppBrowser(urlRecoveryPassword)" target="_blank">{{"Recupera password" | translate}} <i class="icon ion-ios-arrow-thin-right"></i></a>
                    </div>
                    <label class="item">
                        <button
                            ng-style="{
                                'background': COLORS.global.buttonsBackground,
                                'color': COLORS.global.buttonsColor
                            }"
                            class="login-button button button-block" 
                            type="submit">
                            {{logging ? "(Loading..)" : "ACCEDI" | translate}}
                            <i class="wm-icon-chevron-right"></i>
                        </button>
                    </label>
                </div>
            </form>

            <form
                class="registration-form"
                ng-if="state.resetMode"
                ng-submit="completeSimpleRegistration(ud.firstName, ud.lastName, ud.email, ud.checkEmail, ud.password, ud.checkPassword, ud.country, ud.selectedType, ud.selectedGender, ud.newsletter, ud.privacy)">
                <div class="list">
                    <label class="item item-input">
                        <input
                            ng-if="!optionalFields['firstName']"
                            class="input-name input-ph"
                            type="text"
                            ng-model="ud.firstName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'nome' | translate}} *">
                        <input
                            ng-if="optionalFields['firstName']"
                            class="input-name input-ph"
                            type="text"
                            ng-model="ud.firstName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'nome' | translate}}">
                    </label>
                    <label class="item item-input">
                        <input
                            ng-if="!optionalFields['lastName']"
                            class="input-surname input-ph"
                            type="text"
                            ng-model="ud.lastName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'cognome' | translate}} *">
                        <input
                            ng-if="optionalFields['lastName']"
                            class="input-surname input-ph"
                            type="text"
                            ng-model="ud.lastName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'cognome' | translate}}">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-email input-ph"
                            type="text"
                            ng-model="ud.email"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'email' | translate}} *">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-email input-ph"
                            type="text"
                            ng-model="ud.checkEmail"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            placeholder="{{'ripeti email' | translate}} *">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-password input-ph"
                            type="password"
                            ng-model="ud.password"
                            autocomplete="off"
                            placeholder="{{'crea password' | translate}} *">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-password input-ph"
                            type="password"
                            ng-model="ud.checkPassword"
                            autocomplete="off"
                            placeholder="{{'ripeti password' | translate}} *">
                    </label>
                    <label class="item item-input">
                        <country-select ng-model="ud.country"></country-select>
                    </label>

                    <label class="item item-input item-select">
                        <select id="type-select" ng-model="ud.selectedType">
                            <option ng-repeat="item in ud.types" value="{{item.value}}" selected="item.value === ud.selectedType">{{item.name}}</option>
                        </select>
                        <!--<i class="wm-icon-chevron-down"></i>-->
                    </label>

                    <div id="gender-radio">
                        <div class="pf-radio-button" ng-repeat="item in ud.genders">
                            <input
                                type="radio"
                                name="genderRadio"
                                ng-model="ud.selectedGender"
                                value="{{item.value}}"
                                id="{{item.value}}">
                            <label for="{{item.value}}">
                            <i class="wm-icon-ion-android-checkmark-circle"
                                ng-class="{
                                    'wm-icon-ion-android-checkmark-circle': item.value === ud.selectedGender,
                                    'wm-icon-ion-android-checkmark-circle-empty': item.value !== ud.selectedGender
                                }"></i>{{item.name | translate}}</label>

                        </div>
                    </div>
                    <div
                        class="privacy"
                        ng-if="newsletter">
                        <div
                            ng-click="ud.newsletter = !ud.newsletter">
                            <i 
                                class="ion-android-checkbox-outline"
                                ng-class="{
                                    'ion-android-checkbox-outline': ud.newsletter,
                                    'ion-android-checkbox-outline-blank': !ud.newsletter
                                }"></i>
                                {{"Voglio iscrivermi alla newsletter" | translate}}
                        </div>
                    </div>

                    <div
                        class="privacy">
                        <div
                            ng-click="ud.privacy = !ud.privacy">
                            <i 
                                class="ion-android-checkbox-outline"
                                ng-class="{
                                    'ion-android-checkbox-outline': ud.privacy,
                                    'ion-android-checkbox-outline-blank': !ud.privacy
                                }"></i>
                                {{"Accetto le condizioni dell'informativa sulla" | translate}} <a href="" ng-click="openInAppBrowser(urlPrivacy)" target="_blank">{{"privacy" | translate}}</a> *
                        </div>
                    </div>

                    <label class="item">
                        <button
                            ng-style="{
                                'background': COLORS.global.buttonsBackground,
                                'color': COLORS.global.buttonsColor
                            }"
                            class="login-button button button-block"
                            type="submit">
                            {{logging ? "(Loading..)" : "CONFERMA" | translate}}
                            <i class="wm-icon-chevron-right"></i>
                        </button>
                    </label>
                    <label class="item=" ng-click="state.resetMode = false; resetFields()">
                        <div class="skip-link password-lost-link">
                            <a>{{"Torna al login" | translate}}<i class="icon ion-ios-arrow-thin-right"></i></a>
                        </div>
                    </label>
                </div>
            </form>

            <div class="login-footer" ng-if="!state.resetMode">

                <div class="app-logo-container">
                    <button 
                        ng-style="{
                            'background': COLORS.global.buttonsBackground
                        }"
                        class="login-button skip-login" 
                        ng-click="state.resetMode = true">
                        {{"Registrati" | translate}}
                        <i class="wm-icon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>