<ion-modal-view id="login-view" class="login-page">
    <ion-content style="background: {{COLORS.global.background}}">
        <div class="login-header">
            <!-- <i class="icon wm-icon-heart-valcamonica"></i> -->
            {{ state.registrationMode || state.resetMode ? "REGISTRATI" : "ACCEDI" | translate}}
        </div>
        <!-- <div ng-if="state.registrationMode">
            <form class="registration-form">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nome</span>
                        <input 
                            type="text" 
                            placeholder="Nome"
                            ng-model="ud.firstName">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Cognome</span>
                        <input 
                            type="text" 
                            placeholder="Cognome"
                            ng-model="ud.lastName">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input 
                            type="text" 
                            placeholder="Email"
                            autocorrect="off"
                            autocapitalize="none"
                            autocomplete="off"
                            spellcheck="false" 
                            ng-model="ud.email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input 
                            type="password" 
                            autocomplete="off" 
                            placeholder="Password"
                            ng-model="ud.password">
                    </label>
                     <div class="registration-terms">
                        <div class="checkbox-container">
                            <ion-checkbox ng-model="isChecked"></ion-checkbox>
                        </div>
                        <label>
                            Dichiaro di accettare i <a href="" ng-click="openInAppBrowser('http://www.turismovallecamonica.it/it/content/disclaimer')">termini</a> del servizio e le condizioni sulla <a href="" ng-click="openInAppBrowser('http://www.turismovallecamonica.it/it/content/privacy')">privacy</a>. *
                        </label>
                    </div>
                </div>
                <button 
                    class="login-button button button-block" 
                    ng-disabled="!isChecked"
                    ng-click="completeRegistration(ud.firstName, ud.lastName, ud.email, ud.password)">
                    {{logging ? '(Loading..)' : 'CONFERMA'}}
                </button>
            </form>

            <div class="skip-link go-to-login">
                <a ng-click="state.registrationMode = false; resetFields()">
                    hai già un account? effettua il login <i class="icon ion-ios-arrow-thin-right"></i>
                </a>
            </div>

            <div class="login-footer">

                <div class="app-logo-container">
                    <div class="app-logo">
                        <img src="/core/images/valcamonica-logo@2x.png">
                    </div>
                </div>

                <div class="skip-login" ng-click="skipLogin()">

                    <a href="">
                        <i class="icon wm-icon-ios7-arrow-thin-right"></i>
                        Salta per adesso</a>
                </div>
            </div>
        </div> -->

        <div ng-show="!state.registrationMode">

            <form
                class="login-form" 
                ng-show="!state.resetMode"
                ng-submit="doLogin(ud.username, ud.password)">
                <div class="list">
                    <label class="item item-input">
                        <input 
                            class="input-email input-ph"
                            type="text" 
                            ng-model="ud.username" 
                            autocorrect="off" 
                            autocapitalize="none" 
                            spellcheck="false" 
                            autocomplete="off"  
                            style="" 
                            placeholder="{{::'email' | translate}}"
                            onfocus="this.placeholder = ''" 
                            onblur="this.placeholder = 'email'">
                    </label>
                    <label class="item item-input">
                        <input 
                            class="input-password input-ph" 
                            type="password" 
                            ng-model="ud.password" 
                            autocomplete="off"  
                            placeholder="{{::'password' | translate}}"
                            onfocus="this.placeholder = ''" 
                            onblur="this.placeholder = 'password'">
                    </label>
                    <div
                        class="skip-link password-lost-link"
                        ng-if="urlRecoveryPassword">
                        <a href="" ng-click="openInAppBrowser(urlRecoveryPassword)" target="_blank">{{::"Recupera password" | translate}} <i class="icon ion-ios-arrow-thin-right"></i></a>
                    </div>
                    <label class="item">
                        <button
                            style="background:{{COLORS.global.buttonsBackground}}; color:{{COLORS.global.buttonsColor}};"
                            class="login-button button button-block" 
                            type="submit">
                            {{logging ? "(Loading..)" : "ACCEDI" | translate}}
                            <i class="icon ion-log-in"></i>
                        </button>
                    </label>
                </div>
            </form>

            <form
                class="registration-form"
                ng-if="state.resetMode"
                ng-submit="completeSimpleRegistration(ud.firstName, ud.lastName, ud.email, ud.checkEmail, ud.password, ud.checkPassword, ud.newsletter, ud.privacy)">
                <div class="list">
                    <label class="item item-input">
                        <input
                            class="input-name input-ph"
                            type="text"
                            ng-model="ud.firstName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            style=""
                            placeholder="{{::'nome' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'nome'">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-surname input-ph"
                            type="text"
                            ng-model="ud.lastName"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            style=""
                            placeholder="{{::'cognome' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'cognome'">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-email input-ph"
                            type="text"
                            ng-model="ud.email"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            style=""
                            placeholder="{{::'email' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'email'">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-email input-ph"
                            type="text"
                            ng-model="ud.checkEmail"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            autocomplete="off"
                            style=""
                            placeholder="{{::'ripeti email' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'conferma email'">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-password input-ph"
                            type="password"
                            ng-model="ud.password"
                            autocomplete="off"
                            placeholder="{{::'crea password' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'password'">
                    </label>
                    <label class="item item-input">
                        <input
                            class="input-password input-ph"
                            type="password"
                            ng-model="ud.checkPassword"
                            autocomplete="off"
                            placeholder="{{::'ripeti password' | translate}}"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'conferma password'">
                    </label>

                    <div class="privacy" ng-if="newsletter">
                        <input
                            class="input-privacy input-ph"
                            type="checkbox"
                            ng-model="ud.newsletter">
                        {{::"Voglio iscrivermi alla newsletter" | translate}}
                    </div>

                    <div class="privacy">
                        <input
                            class="input-privacy input-ph"
                            type="checkbox"
                            ng-model="ud.privacy">
                        {{::"Accetto le condizioni dell'informativa sulla " | translate}}<a href="" ng-click="openInAppBrowser(urlPrivacy)" target="_blank"> privacy</a>
                    </div>
                    <label class="item">
                        <button
                            style="background:{{COLORS.global.buttonsBackground}}; color:{{COLORS.global.buttonsColor}};"
                            class="login-button button button-block"
                            type="submit">
                            {{logging ? "(Loading..)" : "CONFERMA" | translate}}
                            <i class="icon ion-log-in"></i>
                        </button>
                    </label>
                    <label class="item=" ng-click="state.resetMode = false; resetFields()">
                        <div class="skip-link password-lost-link">
                            <a>{{::"Torna al login" | translate}}<i class="icon ion-ios-arrow-thin-right"></i></a>
                        </div>
                    </label>
                </div>
            </form>

            <!--<form
                class="login-form" 
                ng-show="state.resetMode"
                ng-submit="resetPassword(ud.email); resetFields()">
                <div class="list">
                    <label class="item item-input">
                        <input 
                            class="input-email input-ph"
                            type="text" 
                            ng-model="ud.email" 
                            autocorrect="off" 
                            autocapitalize="none" 
                            spellcheck="false" 
                            autocomplete="off"  
                            style="" 
                            placeholder="email"
                            onfocus="this.placeholder = ''" 
                            onblur="this.placeholder = 'email'">
                    </label>
                    <label class="item">
                        <button 
                            style="background: {{COLORS.global.buttonsBackground}}; color:{{COLORS.global.buttonsColor}};"
                            class="login-button button button-block" 
                            type="submit">
                            {{logging ? '(Loading..)' : 'INVIA'}}
                            <i class="icon ion-log-in"></i>
                        </button>
                    </label>
                    <label class="item=" ng-click="state.resetMode = false; resetFields()">
                        <div class="skip-link password-lost-link">
                            <a>Torna al login <i class="icon ion-ios-arrow-thin-right"></i></a>
                        </div>
                    </label>
                </div>
            </form>-->

            <!-- <div
                class="social-login-title-container"
                ng-show="!state.resetMode">
                <span class="social-login-title">o accedi con il tuo account social</span>
            </div>

            <div class="omb_login" ng-show="!state.resetMode">
                <div class="omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-4 col-sm-2 social-block" ng-if="facebook">
                        <button 
                            class="omb_btn-facebook"
                            ng-click="openSocial('facebook')">
                            <i class="icon wm-icon-social-facebook"></i>
                            <span class="">Facebook</span>
                        </button>
                    </div>
                    <div class="col-xs-4 col-sm-2 social-block" ng-if="twitter">
                        <button 
                            class="omb_btn-twitter"
                            ng-click="openSocial('twitter')">
                            <i class="icon wm-icon-social-twitter"></i>
                            <span class="">Twitter</span>
                        </button>
                    </div>    
                    <div class="col-xs-4 col-sm-2 social-block" ng-if="google">
                        <button 
                            class="omb_btn-google"
                            ng-click="openSocial('google')">
                            <i class="icon wm-icon-icon-social-google-plus"></i>
                            <span class="">Google</span>
                        </button>
                    </div>    
                </div>
            </div> -->

            <!-- <div class="card sign-in-button" ng-show="!state.resetMode">
                <button
                    class="button button-block sign-in sign-up-card"
                    ng-click="state.registrationMode = true; resetFields()">
                    REGISTRATI
                </button>
            </div> -->

            <div class="login-footer" ng-if="!state.resetMode">

                <div class="app-logo-container">
                    <div class="app-logo">
                        <!-- <img src="/core/images/valcamonica-logo@2x.png"> -->
                    </div>
                    <div 
                        class="skip-login" 
                        ng-click="state.resetMode = true">
                        <a href="" style="border: none" >
                            {{::"Registrati" | translate}}
                        </a>
                    </div>
                </div>

                <!--<div class="skip-login" ng-click="skipLogin()">

                    <a href="">
                        <i class="icon wm-icon-ios7-arrow-thin-right"></i>
                        Salta per adesso</a>
                </div>-->
            </div>

        </div>
    </ion-content>
</ion-modal-view>