<ion-modal-view class="modal-mappalo modal-details modal-details-table">
    <ion-header-bar class="bar-stable">
        <a
           class="modal-close-header"
           ng-click="hide()">
           <i class="icon wm-icon-android-close"></i>
       </a>
        <h1 class="title">
            <span class="title-inner-header">
                {{"SEGNALA" | translate}}
            </span>
        </h1>
    </ion-header-bar>

    <ion-content class="offline-page">
        <div class="static-content offline-content">
            <div class="static-description offline-description">
                <h2 class="offline-desc-title">{{"SEGNALA LA TUA POSIZIONE" | translate}}</h2>
            </div>

            <div 
                class="list list-inset"
                ng-if="!vm.sendInProgress && !vm.sendSuccess">
                <input 
                    style="padding-left: 17px; width: 100%;" 
                    type="text" 
                    placeholder="{{'Inserisci la tua email' | translate}}"
                    autocorrect="off"
                    autocomplete="off"
                    spellcheck="false"
                    ng-model="vm.emailblock">
                <input
                    style="padding-left: 17px; width: 100%;" 
                    type="text"
                    placeholder="{{'Inserisci il tuo numero di telefono (opzionale)' | translate}}"
                    autocorrect="off"
                    autocomplete="off"
                    spellcheck="false"
                    ng-model="vm.phoneNumber">
                <label class="item item-input item-stacked-label label-segnalazione">
                    <!-- <span class="input-label">Titolo text area</span> -->
                    <textarea 
                        placeholder="{{'Inserisci il testo della tua segnalazione (opzionale)' | translate}}"
                        ng-model="vm.textblock"
                        style="height: 30vh">
                    </textarea>
                </label>
            </div>

            <div style="color: black;" ng-if="vm.sendInProgress">
                <p class="offline-text offline-download">
                    {{"Invio in corso" | translate}}
                </p>
                <div
                    style="border-top: 16px solid {{COLORS.global.buttonsBackground}};"
                    class="loader">
                </div>
            </div>

            <div style="color: black;" ng-if="vm.sendSuccess">
                <p class="offline-text offline-download">
                    {{"Segnalazione inviata" | translate}}
                </p>
            </div>

            <button
                ng-style="{
                    'background': COLORS.global.buttonsBackground,
                    'color': COLORS.global.buttonsColor
                }"
                class="button-download button button-block"
                ng-if="!vm.sendInProgress && !vm.sendSuccess"
                ng-click="vm.sendText()">
                <span>
                    {{"INVIA" | translate}}
                </span>
            </button>
        </div>
    </ion-content>
</ion-modal-view>