<ion-modal-view class="modal-mappalo modal-details modal-details-table">
    <a class="modal-close" ng-click="vm.hide()">
        <i class="icon wm-icon-android-close"></i>
    </a>
    <ion-content ng-style="{
        'background': COLORS.global.background
    }">
        <div class="modal-content">
            <span class="modal-title" ng-style="{
                    'color': COLORS.details.color
                }">
                {{"Dettagli" | translate}}
            </span>
            <div class="modal-inner-content">
                <div class="modal-full-content">
                    <table class="table-details">
                        <tr ng-repeat="(key, value) in parent.detailTable">
                            <th class="table-row-header" ng-if="parent.feature[key]">
                                {{value | translate}}
                            </th>
                            <td class="table-row-desc" ng-if="parent.feature[key] && value.toLowerCase() !== 'lunghezza'">
                                {{parent.feature[key]}} <span ng-if="value.toLowerCase() !== 'difficoltà' && value.toLowerCase() !== 'percorso'">m</span>
                            </td>
                            <td class="table-row-desc" ng-if="parent.feature[key] && value.toLowerCase() === 'lunghezza'">
                                {{parent.feature[key].toFixed(2)}} km
                            </td>
                        </tr>
                    </table>

                    <!-- <div style="width: 100%; text-align: center;">
                        <a
                            href=""
                            download
                            ng-click="parent.openInExternalBrowser('http://api.webmapp.it/elba/media/Legenda_Elba.pdf')">
                            Scarica la legenda completa in formato PDF
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
