<ion-modal-view class="modal-mappalo modal-details">
   <a
       class="modal-close"
       ng-click="vm.hide()">
       <i class="icon wm-icon-android-close"></i>
   </a>
   <ion-content ng-style="{
       'background': COLORS.global.background
    }">
        <div class="modal-content">
            <ion-list>
                <label
                    class="item item-radio ng-not-empty" 
                    ng-repeat="item in vm.items">
                    <div
                        class="radio radio-input-hidden disable-pointer-events radio-circle">
                        <input
                            type="radio"
                            name="taxonomyRadio"
                            ng-click="vm.selectFilter(item)">
                        <i 
                            class="wm-icon-ion-android-checkmark-circle"
                            ng-class="{
                                'wm-icon-ion-android-checkmark-circle': vm.selectedFilter === item,
                                'wm-icon-ion-android-checkmark-circle-empty': vm.selectedFilter !== item
                            }"></i>
                        {{item.name}}
                    </div>
                </label>
            </ion-list>    
        </div>
    </ion-content>
</ion-modal-view>