<ion-view ng-class="{
        'welcome-page': vm.isWelcomePage,
        'map-page': vm.isMapPage,
        'hide-map': vm.hideMap,
        'map-search': vm.isMapModeInSearch,
        'desktop-half-map': !vm.mapView && !vm.isSearchPage,
        'desktop-full-map': vm.mapView,
        'has-howtoreach': vm.detail && detailCoordinates && !vm.hideHowToReach,
        'has-shadow': vm.hasShadow,
        'show-start-navigation': vm.isNavigable,
        'logged-in': vm.userData.ID
    }" ng-controller="MainController as vm">

    <ion-content class="content-pane" delegate-handle="mainScroll">

        <ion-nav-view name="inception-top"></ion-nav-view>

    </ion-content>

    <a href="" class="details-shadow" ng-class="{'extend-shadow': vm.extendShadow}" ng-if="vm.hasShadow">
    </a>
    <a href="" class="details-howtoreach" ng-style="{
        'background': vm.colors.details.buttons
    }" ng-click="vm.openExternalMap()" ng-if="vm.detail && detailCoordinates && !vm.hideHowToReach">
        <i class="icon ion-map"></i> {{::"Come raggiungerci" | translate}}
    </a>

    <!-- TODO: add bottom element check from config -->
    <div ui-view="inception-bottom"></div>

    <ion-footer-bar align-title="left" class="bar-assertive" data-tap-disabled="true" ng-class="{
            'when-welcome': vm.isWelcomePage
        }">

        <!-- Map expand -->
        <a href="" class="btn-expand map-expand map-expand-right" ng-click="vm.useExandMapInDetails ? vm.toggleMap() : vm.returnToMap()"
            ng-if="!vm.hideExpander">
            <i class="icon ion-arrow-expand"></i>
        </a>
        <a href="" class="btn-expand map-expand" ng-click="vm.goToMap()" ng-if="vm.isWelcomePage">
            <i class="icon ion-arrow-expand"></i>
        </a>

        <!-- Map shrink -->
        <a href="" class="btn-expand map-expand map-shrink map-expand-right" ng-click="vm.toggleMap()" ng-show="!vm.isSearchPage && !vm.hideExpander"
            ng-if="!vm.isWelcomePage">
            <i class="icon wm-icon-arrow-shrink"></i>
        </a>

        <i class="icon wm-icon-ios7-plus-empty map-center" ng-if="!vm.hideDeactiveCentralPointer || vm.followActive" ng-style="{
                'color': vm.followActive ? vm.colors.global.centralPointerActive : '#000000',
                'opacity': 0.4
            }"></i>

        <div id="map" class="advanced-layout advanced-map"></div>

        <div class="locate-custom-control" ng-if="vm.showLocate">
            <div class="leaflet-control-locate leaflet-bar leaflet-control">
                <a class="leaflet-bar-part leaflet-bar-part-single" href="" title="Show me where I am" ng-click="vm.centerOnMe()">
                    <!-- ng-class="{
                            'wm-icon-mappalo': vm.isRotating,
                            'wm-icon-android-locate': !vm.isRotating && !vm.canFollow,
                            'wm-icon-android-locate-full': !vm.isRotating && vm.canFollow,
                            'fa-spin': vm.locateLoading
                    }" -->
                    <span class="icon" ng-class="{
                            'wm-icon-android-locate-full': !vm.followActive || vm.dragged || (vm.followActive && !vm.isRotating && !vm.dragged),
                            'fa-spin': vm.locateLoading && !vm.followActive,
                            'blu-icon': vm.followActive && !vm.isRotating && !vm.dragged
                        }" ng-style="!vm.isRotating ? {
                            '-webkit-transform': 'rotate(0deg)',
                            'transform': 'rotate(0deg)'
                        } : {
                            '-webkit-transform': 'rotate(' + (30 - vm.deg) + 'deg)',
                            'transform': 'rotate(' + (30 - vm.deg) + 'deg)'
                        }">
                        <!-- <i
                            class="icon wm-icon-android-locate-full"
                            ng-if="vm.followActive && !vm.isRotating && !vm.dragged">
                        </i> -->
                        <img style="margin: 5px" src="core/images/compass.svg" ng-if="vm.followActive && vm.isRotating && !vm.dragged">
                    </span>
                </a>
            </div>
        </div>

        <div class="coords-expander">
            <a href="" ng-click="vm.expandCoords()">
                <i ng-if="!vm.isCoordsBlockExpanded" class="wm-icon-ios7-arrow-back"></i>
                <i ng-if="vm.isCoordsBlockExpanded" class="wm-icon-ios7-arrow-forward"></i>
            </a>
        </div>

        <div class="coords-block" ng-class="{
                'animate-rightin': vm.isCoordsBlockExpanded,
                'animate-rightout': !vm.isCoordsBlockExpanded
            }" ng-if="vm.centerCoords" ng-click="vm.switchCoords()">
            <span ng-if="vm.useUTM32">
                {{vm.centerCoordsUTM32.lat}}, {{vm.centerCoordsUTM32.lng}}
                <button class="coords-share-button" ng-click="vm.shareCurrentPosition($event)" ng-if="vm.useShare">
                    <i class="icon wm-icon-android-share"></i>
                </button>
            </span>
            <span ng-if="!vm.useUTM32">
                {{vm.centerCoords.lat}}, {{vm.centerCoords.lng}}
                <button class="coords-share-button" ng-click="vm.shareCurrentPosition($event)" ng-if="vm.useShare">
                    <i class="icon wm-icon-android-share"></i>
                </button>
            </span>
        </div>

        <div class="report-control" ng-if="vm.useReport && !vm.outsideBoundingBox">
            <a href="" ng-click="vm.reportCurrentPosition($event)">
                <i class="icon wm-icon-alert-circled">
                </i>
            </a>
        </div>

        <div class="start-navigation" ng-if="vm.navigationAvailable">
            <a href="" ng-click="vm.startNavigation()">
                <i class="wm-icon-navigate"></i>
                {{::"Inizia" | translate}}
            </a>
        </div>

        <div class="navigator-div-controller" ng-if="vm.isNavigating">
            <div class="content-div" ng-if="!vm.isPaused">
                <div class="pause-button" ng-style="{
                        'background': vm.colors.mainBar.background,
                        'color': vm.colors.mainBar.color
                    }">
                    <a href="" ng-click="vm.pauseNavigation()">
                        <i class="wm-icon-ios7-pause"></i>
                    </a>
                </div>
                <div class="time-section">
                    <div>
                        <i class="wm-icon-android-clock"></i>
                    </div>
                    <span class="navigation-value">
                        {{vm.timeInMotionText}}
                    </span>
                    <span class="navigation-text">
                        {{::"in movimento" | translate}}
                    </span>
                </div>
                <div class="distance-section">
                    <div>
                        <i class="wm-icon-arrow-right-c"></i>
                    </div>
                    <span class="navigation-value">
                        {{vm.distanceTravelledText}}
                    </span>
                    <span class="navigation-text">
                        {{::"percorsi" | translate}}
                    </span>
                </div>
                <div class="speed-section">
                    <div>
                        <i class="wm-icon-speedometer"></i>
                    </div>
                    <!--<span class="navigation-value">
                        {{vm.currentSpeedText}}
                    </span>-->
                    <span class="navigation-value">
                        {{vm.averageSpeedText}}
                    </span>
                </div>
            </div>
            <div class="content-div" ng-if="vm.isPaused">
                <div class="resume-navigation">
                    <a href="" ng-click="vm.resumeNavigation()">
                        {{::"Riprendi" | translate}}
                    </a>
                </div> 
                <div class="stop-navigation">
                    <a href="" ng-click="vm.stopNavigation()">
                        {{::"Interrompi" | translate}}
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-taxonomy-name" ng-if="vm.taxonomyName" ng-style="{
            'background': vm.itemColor
            }">
            <div ng-if="vm.isAPoi" class="poi-navigator" ng-click="vm.goTo(vm.prevUrl)"><i class="icon wm-icon-ios7-arrow-back"></i>PREV</div>
            <div class="main-navigator" ng-class="{
                'navigator-name': vm.isAPoi
            }">
                <div class="navigator-track-name" ng-if="vm.isAPoi && vm.parentTrackName">{{vm.parentTrackName}}</div>
                <div class="taxonomy-name">{{vm.taxonomyName}}</div>
            </div>
            <div ng-if="vm.isAPoi" class="poi-navigator" ng-click="vm.goTo(vm.nextUrl)">NEXT<i class="icon wm-icon-ios7-arrow-forward"></i></div>
        </div>
    </ion-footer-bar>
</ion-view>