<ion-view ng-class="{
        'welcome-page': vm.isWelcomePage,
        'map-page': vm.isMapPage,
        'hide-map': vm.hideMap,
        'map-search': vm.isMapModeInSearch,
        'desktop-half-map': !vm.mapView && !vm.isSearchPage,
        'desktop-full-map': vm.mapView,
        'has-howtoreach': vm.detail && detailCoordinates && !vm.hideHowToReach,
        'has-shadow': vm.hasShadow,
        'show-start-navigation': vm.isNavigable,
        'logged-in': vm.userData.ID
    }" ng-controller="MainController as vm">

    <ion-content class="content-pane" delegate-handle="mainScroll">

        <ion-nav-view name="inception-top"></ion-nav-view>

    </ion-content>
    <!--3 POINTS MENU-->
    <div class="map-menu" ng-if="vm.showRightMenu">
        <div class="list" ng-style="{
            'background': vm.colors.menu.background,
            'color': vm.colors.menu.color, 
        }">
            <a class="item item-icon-left" ng-click="vm.openFilters()">
                <i class="icon {{vm.filterIcon}}"></i> {{"seleziona categorie" | translate}}
            </a>
            <a class="item item-icon-left" ng-click="vm.startNavigation('true')">
                <i class="icon wm-icon-plus"></i> {{'registra percorso' | translate }}
            </a>
        </div>
    </div>

    <a href="" class="details-shadow" ng-class="{'extend-shadow': vm.extendShadow}" ng-if="vm.hasShadow">
    </a>
    <a href="" class="details-howtoreach" ng-style="{
        'background': vm.colors.details.buttons
    }" ng-click="vm.openExternalMap()" ng-if="vm.detail && detailCoordinates && !vm.hideHowToReach">
        <i class="icon ion-map"></i> {{"Come raggiungerci" | translate}}
    </a>

    <!-- TODO: add bottom element check from config -->
    <div ui-view="inception-bottom"></div>

    <ion-footer-bar align-title="left" class="bar-assertive" data-tap-disabled="true" ng-class="{
            'when-welcome': vm.isWelcomePage
        }">

        <!-- Map expand -->
        <a href="" class="btn-expand map-expand map-expand-right" ng-click="vm.layerState ? vm.goToMap() : vm.toggleMap()" ng-if="!vm.hideExpander">
            <i class="icon ion-arrow-expand"></i>
        </a>

        <!-- Map shrink -->
        <a href="" class="btn-expand map-expand map-shrink map-expand-right" ng-click="vm.toggleMap()" ng-show="!vm.isSearchPage && !vm.hideExpander"
            ng-if="!vm.isWelcomePage">
            <i class="icon wm-icon-arrow-shrink"></i>
        </a>

        <i class="icon wm-icon-ios7-plus-empty map-center" ng-if="!vm.hideDeactiveCentralPointer || vm.followActive" ng-style="{
                'color': vm.followActive ? vm.colors.global.centralPointerActive : '#000000',
                'opacity': 0.4
            }"></i>

        <!-- Map -->
        <div id="map" class="advanced-layout advanced-map"></div>

        <!-- Control locate -->
        <div class="locate-custom-control" ng-if="vm.showLocate">
            <div class="leaflet-control-locate leaflet-bar leaflet-control">
                <a class="leaflet-bar-part leaflet-bar-part-single" href="" ng-click="vm.centerOnMe()">
                    <span class="icon" ng-class="{
                            'wm-icon-android-locate-full': !vm.geolocationState.isRotating,
                            'fa-spin': vm.geolocationState.isLoading && !vm.geolocationState.isRotating && !vm.geolocationState.isFollowing,
                            'blu-icon': vm.geolocationState.isFollowing
                        }" ng-style="!vm.geolocationState.isRotating ? {
                            '-webkit-transform': 'rotate(0deg)',
                            'transform': 'rotate(0deg)'
                        } : {
                            '-webkit-transform': 'rotate(' + (- vm.heading - 30) + 'deg)',
                            'transform': 'rotate(' + (- vm.heading - 30) + 'deg)'
                        }">
                        <img style="margin: 5px" src="core/images/compass.svg" ng-if="vm.geolocationState.isFollowing && vm.geolocationState.isRotating">
                    </span>
                </a>
            </div>
        </div>

        <!-- Arrow to expand coordinates -->
        <div class="coords-expander">
            <a href="" ng-click="vm.expandCoords()">
                <i ng-if="!vm.isCoordsBlockExpanded" class="wm-icon-ios7-arrow-back"></i>
                <i ng-if="vm.isCoordsBlockExpanded" class="wm-icon-ios7-arrow-forward"></i>
            </a>
        </div>

        <!-- Coordinates -->
        <div class="coords-block" ng-class="{
                'animate-rightin': vm.isCoordsBlockExpanded,
                'animate-rightout': !vm.isCoordsBlockExpanded
            }" ng-if="vm.centerCoords" ng-click="vm.switchCoords()">
            <span ng-if="vm.useUTM32">
                <button class="coords-share-button" ng-click="vm.shareCurrentPosition($event)" ng-if="vm.useShare">
                    <i class="icon wm-icon-android-share"></i>
                </button>
                {{vm.centerCoordsUTM32.lat}}, {{vm.centerCoordsUTM32.lng}}
            </span>
            <span ng-if="!vm.useUTM32">
                <button class="coords-share-button" ng-click="vm.shareCurrentPosition($event)" ng-if="vm.useShare">
                    <i class="icon wm-icon-android-share"></i>
                </button>
                {{vm.centerCoords.lat}}, {{vm.centerCoords.lng}}
            </span>
        </div>

        <!-- Report -->
        <div class="report-control" ng-if="vm.useReport && vm.isInMap">
            <a href="" ng-click="vm.reportCurrentPosition($event)">
                <i class="icon wm-icon-alert-circled">
                </i>
            </a>
        </div>

        <!-- Start navigation -->
        <div class="start-navigation" ng-if="vm.navigationAvailable">
            <a href="" ng-click="vm.startNavigation()">
                <i class="wm-icon-navigate"></i>
                {{"Inizia" | translate}}
            </a>
        </div>

        <!-- Navigation interface -->
        <div class="navigator-div-controller" ng-if="vm.navigation.state.isActive">
            <div class="content-div" ng-if="!vm.navigation.state.isPaused">
                <div class="pause-button" ng-style="{
                        'background': vm.colors.mainBar.background,
                        'color': vm.colors.mainBar.color
                    }">
                    <a href="" ng-click="vm.pauseNavigation()">
                        <i class="wm-icon-ios7-pause"></i>
                    </a>
                </div>
                <div class="time-section">
                    <div>
                        <i class="wm-icon-android-clock"></i>
                    </div>
                    <span class="navigation-value">
                        {{vm.formatTime(vm.navigation.stats.time)}}
                    </span>
                    <span class="navigation-text">
                        {{"in movimento" | translate}}
                    </span>
                </div>
                <div class="distance-section">
                    <div>
                        <i class="wm-icon-arrow-right-c"></i>
                    </div>
                    <span class="navigation-value">
                        {{vm.formatDistance(vm.navigation.stats.distance)}}
                    </span>
                    <span class="navigation-text">
                        {{"percorsi" | translate}}
                    </span>
                </div>
                <div class="speed-section" ng-click="vm.toggleSpeedText()">
                    <div>
                        <i class="wm-icon-speedometer"></i>
                    </div>
                    <span class="navigation-value" ng-if="vm.speedTextType === 'current'">
                        {{vm.formatSpeed(vm.navigation.stats.currentSpeed)}}
                    </span>
                    <span class="navigation-text" ng-if="vm.speedTextType === 'current'">
                        {{"velocità" | translate}}
                    </span>
                    <span class="navigation-value" ng-if="vm.speedTextType === 'average'">
                        {{vm.formatSpeed(vm.navigation.stats.averageSpeed)}}
                    </span>
                    <span class="navigation-text" ng-if="vm.speedTextType === 'average'">
                        {{"v. media" | translate}}
                    </span>
                </div>
            </div>
            <div class="content-div" ng-if="vm.navigation.state.isPaused">
                <div class="resume-navigation">
                    <a href="" ng-click="vm.resumeNavigation()">
                        {{"Riprendi" | translate}}
                    </a>
                </div>
                <div class="stop-navigation">
                    <a href="" ng-click="vm.stopNavigation()">
                        {{"Interrompi" | translate}}
                    </a>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>