<ion-view cache-view="false" ng-controller="MapController as vm" ng-style="{
        'background': vm.colors.mainBar.background,
        'color': vm.colors.mainBar.color
    }">
    <ion-nav-title>
        <span ng-bind-html="vm.mapTitle">
            {{ vm.mapTitle }}
        </span>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="no-animate button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="no-animate button button-icon icon wm-icon-ios7-more" ng-click="vm.clickRightMenu()"></button>
    </ion-nav-buttons>
    <ion-content>


    </ion-content>
</ion-view>